<div
    class="hero-more-imgs hero-more-imgs-{{ listDirection|default('column') }} flex-container flex-dir-{{ listDirection|default('column') }} isAbs padd-all-sm">
    {% for item in items %}
    <div
        class="more-imgs-thumb marg-bottom-sm{{ loop.index == moreImgsMaxItems and items|length > loop.index ? ' isRel' }}{{ loop.index > moreImgsMaxItems ? ' hide' }}">
        {% include 'cards/media_card/tpl_01/tpl.twig' with {
        'image_style' : "ratio_16_9",
        'hide_caption' : true,
        'gallery_lightbox' : true,
        'woody_gallery_id' : 'hero-thumbs'
        }%}
        {% if loop.index == moreImgsMaxItems and items|length > loop.index %}
        {% set count = items|length - loop.index %}
        <span class="more fullcenterbox">+{{ count }}</span>
        {% endif %}
    </div>
    {% endfor %}
</div>
