<article class="md-review plo-stand" itemprop="review" itemscope itemtype="http://schema.org/Review">

	<header class="md-review__header  _plu-push--small">
		<div class="plo-flag">

			<div class="plo-flag__aside" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
				<meta itemprop="ratingValue" content="{{review.note|number_format}}">
				<meta itemprop="bestRating" content="{{review.bareme|number_format}}">
				{% include TWIG.MOOD_ICONS with {'rating': review.note|number_format , 'size': 'huge'} only %}
			</div>

			<div class="plo-flag__body">
				<div class="_plu-text-truncate _plu-emphasis--high review-title" itemprop="name">{{ review.titre }}</div>
			</div>
		</div>
	</header>

	<p class="_plu-push--small" itemprop="description">{{review.texte }}</p>

	<footer class="clearfix">
		<div class="plo-flag plo-flag--fit plo-flag--rev">

			<p class="plo-flag__body _plu-text-muted zeta">
				{% if review._formatedDate is defined %}
					<time itemprop="datePublished" datetime="{{review.date}}">{{ review._formatedDate }}</time>
				{% endif %}
			</p>

			{% if review.auteur|default %}
                <meta itemprop="author" content="{{ review.auteur }}">
            {% endif %}

		</div>
	</footer>

</article>


{# IMPLEMENT OWNER REPLY #}
{% if review.reponse is not empty %}
	<article class="review-content review-reply" itemprop="review" itemscope itemtype="http://schema.org/Review">

		<header class="md-review__header  _plu-push--small">
			<span class="plo-fonticon icon-font-arrow"></span>
			<span class="_plu-emphasis--high plo-stretch">{{ 'SECTIONS.TOURISM.SHEET.COMMENTS.REPLY'|trans}}</span>

		</header>

		<p class="_plu-push--small"> <span itemprop="description">{{review.reponse}}</span></p>

		<footer class="clearfix">
			<div class="plo-flag plo-flag--fit plo-flag--rev">
				<div class="plo-flag__body _plu-text-muted zeta">
					{# metadata #}
					{% if contact.businessName is not null %}
						<meta itemprop="author" content="{{contact.businessName}}">
					{% else %}
						<meta itemprop="author" content="{{sitekey}}">
					{% endif %}
					{# date #}
                    {% if review._formatedDateReponse|default %}
					    <time itemprop="datePublished" datetime="{{review.dateReponse}}">{{review._formatedDateReponse}}</time>
                    {% endif %}
				</div>
			</div>
		</footer>

	</article>
{% endif %}
