{% if contractsLevels.sidebar.sharing and (formated_object.socials|default or formated_object.hashtag|default) %}
    <li id="li-social-networks">
        <section class="panel panel-default">
            <div class="panel-body tourism-detail-social text-center social-buttons-wrapper">

                <div class="hook-text text-center">{{ 'SECTIONS.SOCIAL.FOLLOW_US'|trans }}</div>

                {% if formated_object.socials|default %}
                    <ul class="social-icons-list">
                        {% if formated_object.socials.facebook|default %}
                            <li class="social-icon-wrapper item-facebook">
                                <a class="social-icon" href={{formated_object.socials.facebook}} target="_blank" rel="noindex,nofollow"></a>
                            </li>
                        {% endif %}
                        {% if formated_object.socials.twitter|default %}
                            <li class="social-icon-wrapper item-twitter">
                                <a class="social-icon" href={{formated_object.socials.twitter}} target="_blank" rel="noindex,nofollow"></a>
                            </li>
                        {% endif %}
                        {% if formated_object.socials.instagram|default %}
                            <li class="social-icon-wrapper item-instagram">
                                <a class="social-icon" href={{formated_object.socials.instagram}} target="_blank" rel="noindex,nofollow"></a>
                            </li>
                        {% endif %}
                        {% if formated_object.socials.pinterest|default %}
                            <li class="social-icon-wrapper item-pinterest">
                                <a class="social-icon" href={{formated_object.socials.pinterest}} target="_blank" rel="noindex,nofollow"></a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}

                {% if formated_object.hashtag|default %}
                    <div class="hashtag">{{ formated_object.hashtag }}</div>
                {% endif %}

            </div>
        </section>
    </li>
{% endif %}
