<div class="woody-component-mobile-menu tpl_01 hide-for-xlarge">
    <div
        class="title-bar" data-responsive-toggle="mobile-main-menu" data-hide-for="xlarge">
        <!-- <button class="menu-icon" type="button" data-toggle="mobile-main-menu"></button> -->
        <button class="menuToggler" type="button" data-toggle="mobile-main-menu">
            <span class="menuToggler-icon">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </span>
            <span class="menuToggler-title">
                {{ __('Menu', 'woody-theme') }}
            </span>
        </button>
    </div>
    <ul id="mobile-main-menu" class="vertical menu depth-1" data-responsive-menu="accordion">
        {% for main_menu_link in main_menu_links if main_menu_link.is_frontlink|default %}
            <li>
                {% if obfuscation %}
                    <span class="is-frontlink obf" data-obf="{{ main_menu_link.the_url|default|base64Encode }}" data-target="{{ main_menu_link.the_target|default('_self') }}" data-post-id="{{ main_menu_link.the_id }}">{{ main_menu_link.the_fields.title|default }}</span>
                {% else %}
                    <a class="is-frontlink" href="{{ main_menu_link.the_url }}" target="{{ main_menu_link.the_target|default('_self') }}" data-post-id="{{ main_menu_link.the_id }}">{{ main_menu_link.the_fields.title|default }}</a>
                {% endif %}
            </li>
        {% endfor %}
        {% for main_menu_link in main_menu_links if not main_menu_link.is_frontlink %}
            <li>
                {% if obfuscation %}
                    <span class="obf" data-obf="{{ main_menu_link.the_url|default|base64Encode }}" data-target="{{ main_menu_link.the_target|default('_self') }}" data-post-id="{{ main_menu_link.the_id }} ">
                    {% else %}
                        <a href="{{ main_menu_link.the_url }}" target="{{ main_menu_link.the_target|default('_self') }}" data-post-id="{{ main_menu_link.the_id }} ">
                        {% endif %}
                        {% if main_menu_link.the_fields.woody_icon %}
                            <span class="menuLink-icon wicon {{ main_menu_link.the_fields.woody_icon }}"></span>
                        {% endif %}
                        {% if main_menu_link.the_fields.pretitle %}
                            <span class="menuLink-pretitle">{{ main_menu_link.the_fields.pretitle }}</span>
                        {% endif %}
                        {% if main_menu_link.the_fields.title %}
                            <span class="menuLink-title">{{ main_menu_link.the_fields.title }}</span>
                        {% endif %}
                        {% if main_menu_link.the_fields.subtitle %}
                            <span class="menuLink-subtitle">{{ main_menu_link.the_fields.subtitle }}</span>
                        {% endif %}
                        {% if obfuscation %}
                        </span>
                {% else %}
                    </a>
                {% endif %}
                {% if main_menu_link.submenu|default %}
                    {% for menu_part in main_menu_link.submenu %}
                        {% if menu_part.part_title or menu.part_title.post_title %}
                            <ul class="vertical menu depth-2">
                                <li>
                                    <a href="#">
                                        {{ menu_part.part_title.post_title ? menu_part.part_title.post_title : menu_part.part_title }}</a>
                                    <ul class="vertical menu depth-3">
                                        {% for link in menu_part.links %}
                                            <li>
                                                <a href="{{ link.the_url }}" target="{{ link.the_target|default('_self') }}" data-post-id="{{ link.the_id }}">
                                                    {% if link.the_fields.pretitle %}
                                                        <span class="menuLink-pretitle">{{ link.the_fields.pretitle }}</span>
                                                    {% endif %}
                                                    {% if link.the_fields.title %}
                                                        <span class="menuLink-title">{{ link.the_fields.title }}</span>
                                                    {% endif %}
                                                    {% if link.the_fields.subtitle %}
                                                        <span class="menuLink-subtitle">{{ link.the_fields.subtitle }}</span>
                                                    {% endif %}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            </ul>
                        {% else %}
                            <ul class="vertical menu depth-2">
                                {% for link in menu_part.links %}
                                    <li>
                                        {% if obfuscation %}
                                            <span class="obf" data-obf="{{ link.the_url|default|base64Encode }}" data-target="{{ link.the_target|default('_self') }}" data-post-id="{{ link.the_id }}">
                                            {% else %}
                                                <a href="{{ link.the_url }}" target="{{ link.the_target|default('_self') }}" data-post-id="{{ link.the_id }}">
                                                {% endif %}
                                                {% if link.the_fields.pretitle %}
                                                    <span class="menuLink-pretitle">{{ link.the_fields.pretitle }}</span>
                                                {% endif %}
                                                {% if link.the_fields.title %}
                                                    <span class="menuLink-title">{{ link.the_fields.title }}</span>
                                                {% endif %}
                                                {% if link.the_fields.subtitle %}
                                                    <span class="menuLink-subtitle">{{ link.the_fields.subtitle }}</span>
                                                {% endif %}
                                                {% if obfuscation %}
                                                </span>
                                        {% else %}
                                            </a>

                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>
