{% if image_style %}
    {% set image_style = image_style %}
    {% else %}
    {% set image_style = "ratio_square" %}
{% endif %}
{% if reveal == true %}
    <div class="media-zoom">
        <div class="media-zoom-img isRel">
            {% include '_objects/imageObject.twig' with {
                'img' : item,
                'noRespCrop' : "noRespCrop"
            } %}
            {% if item.attachment_more_data|default and item.attachment_more_data.linked_page|default %}
                <div class="media-button-wrapper fullcenterbox">
                    <a href="{{ item.attachment_more_data.linked_page.url|default }}" class="button" target="{{ item.attachment_more_data.linked_page.target|default('_self') }}">
                        {{ item.attachment_more_data.linked_page.title|default }}
                    </a>
                </div>
            {% elseif item.attachment_more_data|default and item.attachment_more_data.instagram_metadata|default and item.attachment_more_data.instagram_metadata.permalink|default %}
                <div class="media-button-wrapper fullcenterbox">
                    <div class="obf button no-ext" data-obf="{{ item.attachment_more_data.instagram_metadata.permalink|base64Encode }}" data-target="_blank">
                        {{ __('Voir sur Instagram', 'woody-theme') }}
                    </div>
                </div>
            {% endif %}
        </div>

        {% if item.attachment_more_data.instagram_metadata.date.sec or item.attachment_more_data.instagram_metadata.caption %}
            <div class="cell media-zoom-texts padd-all-md">
                    <div class="created">
                        <small>{{ item.attachment_more_data.instagram_metadata.date.sec|createdFrom() }}</small>
                    </div>

                    {% if item.attachment_more_data|default and item.attachment_more_data.author|default %}
                        <div class="author">
                            {% if item.attachment_more_data.is_instagram == true %}
                                <span class="instagram-user">
                                    {% if item.attachment_more_data.instagram_metadata.permalink %}
                                        <div class="obf no-ext text-black" data-obf="{{ item.attachment_more_data.instagram_metadata.permalink|base64Encode }}" data-target="_blank">
                                    {% endif %}
                                    <strong>{{ item.attachment_more_data.author }}</strong>
                                    {% if item.attachment_more_data.instagram_metadata.permalink %}
                                        </div>
                                    {% endif %}
                                </span>
                            {% else %}
                                <strong>{{ item.attachment_more_data.author }}</strong>
                            {% endif %}
                        </div>
                    {% endif %}

                    {% if item.attachment_more_data.instagram_metadata.caption is not iterable  %}
                        <div class="description marg-top-sm">
                            <p>{{ item.attachment_more_data.instagram_metadata.caption }}</p>
                        </div>
                    {% endif %}
            </div>
        {% endif %}
    </div>
{% else %}
    <span class="mediaCard tpl_01" {% if gallery_lightbox == false %}lightbox="0" {% endif %}data-src="{{ item.sizes.ratio_free }}" title="{{ item.title|default(item.filename) }}" data-download-url="false" data-lgthumb="{{ item.sizes.ratio_16_9_small }}">
        {% include '_objects/imageObject.twig' with {
            'img' : item,
            'noRespCrop' : "noRespCrop"
        } %}
    </span>
{% endif %}
