<div class="woody-component-landswpr isRel {{ index_class|default('tpl_07') }} fadingSwiper bg-black">
    <div class="swiper-container woody-landing-swiper {{ styleClass|default }}" data-options="{{ json_swiper_options }}">
        <div class="swiper-wrapper">
            {% for slide in landswpr_slides %}
                <div class="swiper-slide slide-{{ loop.index }} {{ slide.landswpr_slide_media.landswpr_media_op }} slide-type-{{ slide.landswpr_slide_media.landswpr_slide_media_type }}">
                    {% block landswpr_media_wrapper %}
                        {% if slide.landswpr_slide_media.landswpr_slide_media_type == 'img' and slide.landswpr_slide_media.landswpr_slide_img %}
                            {% set img_caption_position = 'top right' %}
                            {% include '_objects/imageObject.twig' with {
                                'img' : slide.landswpr_slide_media.landswpr_slide_img,
                                'img_mobile_url' : slide.landswpr_slide_media.landswpr_slide_img.sizes.ratio_10_16_medium,
                                'image_style' : customImageStyle|default('ratio_4_3'),
                                'containerClass' : "landswprMediaWrapper",
                                'hide_caption' : true
                            } %}
                        {% elseif slide.landswpr_slide_media.landswpr_slide_media_type == 'movie' and slide.landswpr_slide_media.landswpr_slide_movie %}
                            {% include '_objects/videoObject.twig' with {
                                'movie' : slide.landswpr_slide_media.landswpr_slide_movie,
                                'image_style' : customImageStyle|default('ratio_4_3'),
                                'containerClass' : "landswprMediaWrapper",
                                'ratio' : 1.777778,
                                'loop' : true,
                                'muted' : true,
                                'autoplay' : true,
                                'playsinline' : true
                            } %}
                        {% elseif slide.landswpr_slide_media.landswpr_slide_media_type == 'embed' and slide.landswpr_slide_media.landswpr_slide_embed %}
                            {% if slide.landswpr_slide_media.landswpr_slide_embed_thumbnail_url %}
                                <img class="landSwprPlyr-thumbnail responsive-img" src="{{ slide.landswpr_slide_media.landswpr_slide_embed_thumbnail_url }}"/>
                            {% endif %}
                            <div class="landSwprPlyr" data-options='{{ plyr_options|default }}'>
                                {{ slide.landswpr_slide_media.landswpr_slide_embed }}
                            </div>
                        {% endif %}
                    {% endblock %}
                    {% block landswpr_titles_wrapper %}
                        {% if slide.title or slide.subtitle or slide.pretitle or slide.landswpr_slide_smart_links.links %}
                            <div class="landswpr-titles-wrapper padd-all-lg {{ titlesAlignment|default('topleftbox fcbCol') }}">
                                <div class="grid-container">
                                    {% include '_objects/titlesObject.twig' with {
                                        'titles' : slide,
                                        'contextPrefix' : "landswpr",
                                        'textsClasses' : customTextClasses|default("flex-container flex-dir-column align-top align-left")
                                    } %}
                                </div>
                                {% if slide.landswpr_slide_smart_links.links|default %}
                                    <div class="landswpr-links-wrapper flex-container{{ slide.landswpr_slide_smart_links.alignement == 'vertical' ? ' flex-dir-column' }}">
                                        {% for button in slide.landswpr_slide_smart_links.links %}
                                            {% include 'swipers/_objects/landswprButtonObject.twig' with button %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                {% block search_form %}{% endblock %}
                            </div>
                        {% endif %}
                    {% endblock %}
                </div>
            {% endfor %}
        </div>
        {% if landswpr_slides|length > 1 %}
            {% block landswpr_pagination %}
                <div class="swiper-pagination"></div>
            {% endblock %}
            {% block landswpr_navigation %}
                <div class="swiper-navigation">
                    <div class="swiper-button-prev">
                        <i aria-hidden="true" class="wicon wicon-026-precedent"></i>
                    </div>
                    <div class="swiper-button-next">
                        <i aria-hidden="true" class="wicon wicon-025-suivant"></i>
                    </div>
                </div>
            {% endblock %}
        {% endif %}
        {% if landswpr_scroll_down %}
            {% block scrollDown %}
                {% include '_objects/scrolldownObject.twig' with {
                    target : '#pageSection-0'
                } %}
            {% endblock %}
        {% endif %}
    </div>
</div>
