{% set random_number = ''|random_number %}
<div class="woody-component woody-component-teaser {{ customIndexClass|default('tpl_03') }} {{ classes|default }}{{ background_img ? ' has-bgimg' }}{{ page_teaser_add_media ? ' has-media' }}{{ page_teaser_add_profile and profile.profile_title ? ' has-profile' }}">
    {% include 'blocks/page_teaser/_objects/backgroundImage.twig' %}
    {% if trip_infos|default %}
        {% include 'blocks/page_teaser/_objects/tripInfos.twig' with {
            'customTripAlignment':'medium-7 large-9',
            'trip_infos':breadcrumb,
        } %}
    {% else %}
        {{ breadcrumb|default }}
    {% endif %}
    <div class="grid-container isRel">
        <div class="grid-x {{ customAlignment|default('grid-padding-x grid-padding-y align-justify') }}">
            <div class="cell texts-wrapper flex-container flex-dir-column {{ page_teaser_woody_icon ? 'has-icon ' }}{{ page_teaser_title ? 'has-title ' }}{{ page_teaser_pretitle ? 'has-pretitle ' }}{{ page_teaser_subtitle ? 'has-subtitle ' }}{{ page_teaser_desc ? 'has-desc ' }}{{ created ? 'has-created' }} {{ customWidth|default('large-7') }} {{ customTextAlignment|default('align-center') }} {{ customGridSize|default }}">
                {% include 'blocks/page_teaser/_objects/texts.twig' %}
                {% include 'blocks/page_teaser/_objects/links.twig' %}
                {% include 'blocks/page_teaser/_objects/share.twig' %}
            </div>
            {% if trip_infos|default %}
                <div class="cell medium-12 large-3 flex-container flex-dir-column woody-component-trip-infos-card">
                    {{ trip_infos }}
                </div>
            {% endif %}
            {% include 'blocks/page_teaser/_objects/profil.twig' %}
            {% include 'blocks/page_teaser/_objects/media.twig' with {
                'media_wrapper_classes' : 'medium-6 large-5',
                'page_teaser_img_ratio' : page_teaser_img_ratio|default('ratio_4_3')
            }%}
        </div>
    </div>
</div>
