{% set random_number = ''|random_number %}
{% if map_controls_pos is not defined %}
    {% set map_controls_pos = 'topright' %}
{% endif %}
<div class="woody-component woody-component-geomap tpl_01">
    <script>
    var mapData = {
        id: "geomap-{{ random_number }}",
        default: {
            lang : "{{ globals.current_lang }}",
            position:{
                latitude:{{ default_lat }},
                longitude:{{ default_lng }},
                zoom:{{ map_zoom|default(7) }}
            },
            zoom:{
                state:true,
                position:"{{map_controls_pos}}"
            },
            fullscreen: {
                position:"{{map_controls_pos}}"
            },
            locate: {
                position:"{{map_controls_pos}}"
            },
            geosearch: {
                position:"{{map_controls_pos}}"
            },
            carto: {
                position:"{{map_controls_pos}}"
            },
            fitBounds: {{ map_zoom_auto|default(0) }},
            map_provider:"{{ map_provider|default(false) }}",
            tm_conf_id : {{ tmaps_confid|default('false') }},
            clustering : true
        },
        {% if markers|default %}
            markers: [
                {% for marker in markers %}
                    {% if marker.map_position|default %}
                        {
                            lat: {{ marker.map_position.lat }},
                            lng: {{ marker.map_position.lng }},
                            customMarker: "{{ marker.compiled_marker|e('js') }}",
                            html: "{{ marker.marker_thumb_html|default|e('js') }}"
                        },
                    {% endif %}
                {% endfor %}
            ]
        {% endif %}
        }

        {% if routes %}
            var rcModule = rcModule || {};
            rcModule.GeoJSONFiles = rcModule.GeoJSONFiles || {};
            rcModule.GeoJSONFiles[mapData['id']] = [];

            {% for route in routes %}
                rcModule.GeoJSONFiles[mapData['id']].push({{route}});
            {% endfor %}
        {% endif %}

        if(!window.ExtendedMarkersV2){
            window.ExtendedMarkersV2 = [];
        }
        ExtendedMarkersV2.push(mapData);

        var setPropertiesToLayer = function(){
            if(document.getElementsByClassName('leaflet-map-pane').length == 0) {
                setTimeout(setPropertiesToLayer, 1000);
            }else{
                $.each(rcModule.rcTouristicMap, function(index, value){
                    if(index.indexOf('geomap') != -1){
                        value.eachLayer(function(e){
                            if('feature' in e && 'route' in e['feature']){
                                e.setStyle({
                                    color: e['feature']['properties']['stroke'] ? e['feature']['properties']['stroke'] : e.options.color ,
                                    fillColor: e['feature']['properties']['fill'] ? e['feature']['properties']['fill'] : e.options.fill,
                                    fillOpacity: e['feature']['properties']['fill-opacity'] ? e['feature']['properties']['fill-opacity'] : e.options.fillOpacity ,
                                    weight: e['feature']['properties']['stroke-width'] ? e['feature']['properties']['stroke-width'] : 1,
                                    fill: e['feature']['properties']['fill'] ? true : e.options.fill,
                                    stroke: true
                                });
                            }
                        });
                    }
                })
            }
        };
        setPropertiesToLayer();

    </script>
    <div class="map-wrapper">
        <div id="geomap-{{ random_number }}" class="geomap-{{ map_height }}" style="height:80vh;"></div>
    </div>
</div>
