{# WIDGET FAIRGUEST #}
{% if contractsLevels.content.reviews and formated_object.dataFairguest|default and formated_object.dataFairguest.display and formated_object.dataFairguest.idGroup|default %}
    <section id="reviews" class="row tourism-detail-reviews panel panel-default">

        {% if app['env'] == 'dev' %}
            {% set apirender_widget_path = global.request.basepath ~"/assets/widget-iframe.html" %}
        {% elseif app['env'] == 'preprod' %}
            {% set apirender_widget_path = "/api/render/assets/widget-iframe.html" %}
        {% elseif app['env'] == 'prod' %}
            {% set apirender_widget_path = "/api/render/assets/widget-iframe.html" %}
        {% endif %}

        <iframe iframe-resizer
            style="border: none; min-width: 100%; width: 100px;*width: 100%;"
            src="{{ apirender_widget_path }}?tokenJS={{config.tokenJS|default}}&widgetId={{config.widgetId|default}}&idFiche={{object.metadata.id}}&color={{ config.FgWidgetColor|default('e47830')|trim('#', 'left') }}&type=big&recentReviews=false&idGroup={{formated_object.dataFairguest.idGroup}}&erpProductKey={{site_key}}&lang={{lang|default('fr')}}&token={{apiAccount.token}}">
        </iframe>
        {#
        <fairguest-review-widget data-options='{
            "idFiche":"{{object.metadata.id}}",
            "idGroup": "{{ formated_object.dataFairguest.idGroup }}",
            "display":"classement,expressions_often,expressions_only,reviews,evolution{% if options.addreviews is not defined or (options.addreviews is defined and options.addreviews) %},reviews_add{% endif %}",
            "color": "{{ config.FgWidgetColor|default('#e47830') }}",
            "type":"big",
            "lang" : {{lang|default('fr'),
            "erpProductKey": "{{site_key}}"
        }'></fairguest-review-widget>

        {% if app['env'] in ['dev','preprod'] %}
            <script type="text/javascript" src="http://www.fairguest.rc-preprod.com/widget/fairguest_reviews_bundle.min.js"></script>
        {% elseif app['env'] == 'prod' %}
            <script type="text/javascript" src="http://www.fairguest.com/widget/fairguest_reviews_bundle.min.js"></script>
        {% endif %}
        #}

    </section>
{% endif %}
