{% extends '_objects/visualModifier.twig' %}
{% if no_padding == 0 %}{% set spaceBetween = 30 %}
{% else %}{% set spaceBetween = 0 %}
{% endif %}
{% block content %}
    <div class="woody-component woody-component-gallery isRel {% block index_class %}tpl_101{% endblock %} {{ background_color|default }} {{ border_color|default }} {{ background_img_opacity|default }}{% if background_img_opacity or background_color|default or border_color|default %} padd-all-md{% endif %}{{ background_img ? ' has-bgimg' }}">
        {% if background_img %}
            <div class="backgroundMedia fullcenterbox" style="background-image: url('{{ background_img.url }}'); background-size:cover; background-position:center center;"></div>
            <div class="content isRel">
            {% endif %}
            {% if icon|default or pretitle|default or title|default or subtitle|default or description|default %}
                <div class="block-header marg-bottom-md">
                    {% include '_objects/titlesObject.twig' with {
                    'titles' : _context,
                    'contextPrefix' : "gallery",
                    'flexOptions' : "flex-container flex-dir-column align-center align-middle text-center"
                } %}
                </div>
            {% endif %}
            <div class="gallery-wrapper">
                {% block gallery_grid %}
                    <div class="woodyGallery grid-x{{ gallery_no_padding == 0 ? ' grid-padding-x grid-padding-y' }}" itemscope="itemscope" itemtype="http://schema.org/ImageGallery">
                        {% if gallery_items|default %}
                            {% block the_items %}
                                {% if gallery_items|length > 1 %}
                                    {% set swiper_options = {'spaceBetween' : spaceBetween}%}
                                    {% set json_swiper_options = swiper_options | json_encode | e('html_attr') %}
                                    {% include 'swipers/basic_swiper/tpl_01/tpl.twig' with {
                                        'items' : gallery_items,
                                        'card' : "media_card/tpl_01",
                                        'image_style' : "ratio_square",
                                        'swiper_options' : json_swiper_options
                                    } %}
                                {% else %}
                                    {% for item in gallery_items %}
                                        <div class="cell">
                                            {% include 'cards/media_card/tpl_01/tpl.twig' with {
                                                'image_style' : "ratio_square"
                                            } %}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endblock %}
                        {% endif %}
                    </div>
                {% endblock %}
            </div>
            {% if gallery_buttons|default %}
                <div class="gallery-footer">
                    {% if gallery_buttons.alignement == 'horizontal' %}
                        {% set list_classes = 'align-center align-middle wrap' %}
                    {% elseif gallery_buttons.alignement == 'vertical' %}
                        {% set list_classes = 'flex-dir-column align-center align-middle' %}
                    {% endif %}
                    <ul class="list-unstyled flex-container {{ list_classes|default }}">
                        {% for button in gallery_buttons.links %}
                            <li class="list-item">
                                {% include '_objects/buttonObject.twig' %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% if background_img %}
            </div>
        {% endif %}
    </div>
{% endblock %}
