{% extends '_objects/gridObject.twig' %}
{% block grid_items %}
<div class="grid_2col_tpl_02 grid-x {{ alignment|default }} {{ no_padding == 0 ? ' grid-padding-x grid-padding-y' }}">
    {% if items|default %}
        {% for key, item in items %}
            {% if loop.index0 is even %}
                <div class="cell large-8 xmedium-down-order-{{resp_order[key]|default(9)}}">
                    {{ item }}
                </div>
            {% elseif loop.index0 is odd %}
                <div class="cell large-4 xmedium-down-order-{{resp_order[key]|default(9)}}">
                    {{ item }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
{% endblock %}
