{% if is_list %}
<li class="grid-container">
    {% endif %}
    {% if menu_part_title_link or menu_part_title %}
    <span class="menuPart-title">
        {% if menu_part_title_link|default %}<a href="{{ menu_part_title_link }}">{% endif %}
            {{ menu_part_title }}
            {% if menu_part_title_link|default %}</a>{% endif %}
    </span>
    {% endif %}
    {% if empty|default %}
    <div class="bg-lightgray padd-all-sm flex-container">
        <span class="h5 align-center align-middle">{{ empty }}</span>
    </div>
    {% endif %}

    {% include 'blocks/focus/_objects/headerObject.twig' with {
    display: display_block_titles|default(),
    margin: block_titles_margin|default('marg-bottom-md')
    } %}

    {% if ('basic_card' in card) or ('overlayed_card' in card and image_style in ['ratio_3_4', 'ratio_10_16',
    'ratio_a4']) %}
    {% set maxWidthClass = 'max-width-grid-cards-1' %}
    {% elseif ('overlayed_card' in card and image_style in ['ratio_square', 'ratio_4_3']) %}
    {% set maxWidthClass = 'max-width-grid-cards-2' %}
    {% endif %}
    <div
        class="woody_base_grid_wrapper{{ swResp and items|length > 1 ? ' woody-mobile-swiper swiper-container swResp' }} {{ maxWidthClass|default }}" {% if nb_columns > 1 and swResp %}data-columns="{{nb_columns}}"{% endif %}>
        <div class="{% block grid_class %}woody_bases_grid tpl_101{% endblock %} align-center grid-x{{ no_padding == 0 ? ' grid-padding-x grid-padding-y' }}{{ swResp and items|length > 1 ? ' swRespW' }} {{ nb_columns > 1 and not swResp ? 'respGrid2' }}">
            {% if items|default %}
            {% for key, item in items %}
            <div class="cell{{ swResp and items|length > 1 ? ' swRespS' }} {{ nb_columns > 1 and not swResp ? 'small-6 medium-12'}}">
                {% block the_card %}
                {% include "cards/#{ card }/tpl.twig" with {
                'image_style' : image_style,
                'page_type' : item.page_type,
                'ellipsis': item.ellipsis|default(false),
                'card_index':key + 1
                } %}
                {% endblock %}
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>

    {% include 'blocks/focus/_objects/focus_buttons.twig' %}

    {% if is_list %}
</li>
{% endif %}
