{% extends '_objects/gridObject.twig' %}
{% block grid_items %}
<div class="grid_3col_tpl_03 grid-x {{ alignment|default }} {{ no_padding == 0 ? ' grid-padding-x grid-padding-y' }}">
    {% if items|default %}
        {% set theLoopIndex = 0 %}
        {% for key, item in items %}
            {% if theLoopIndex == 0 %}
                <div class="cell medium-6 large-3">
                    {{ item }}
                </div>
                {% set theLoopIndex = theLoopIndex + 1 %}
            {% elseif theLoopIndex == 1 %}
                <div class="cell medium-6 large-3">
                    {{ item }}
                </div>
                {% set theLoopIndex = theLoopIndex + 1 %}
            {% elseif theLoopIndex == 2 %}
                <div class="cell medium-12 large-6">
                    {{ item }}
                </div>
                {% set theLoopIndex = 0 %}
            {% endif %}
        {% endfor %}
    {% endif %}
</div>
{% endblock %}
