{% if active_shares %}
    <ul class="sharing-links list-unstyled flex-container align-middle{% if shares_alignment %} align-{{shares_alignment}}{% endif %}">
        {% if sharing_prefix %}
            <li class="sharing-prefix marg-right-sm">
                <span><strong>{{ __('Partager', 'woody-theme') }}</strong></span>
            </li>
        {% endif %}
        {% for name, share in active_shares %}
            <li class="sharing-item">
                <div class="obf sharing-button__link {{ name }} no-ext" title="{{ share.sharing_message }}" data-obf="{{ share.sharing_link|base64Encode }}" data-target="_blank" aria-label="{{ share.sharing_message }}">
                    <div class="sharing-button sharing-button--{{ name }}">
                        <div aria-hidden="true" class="sharing-button__icon sharing-button__icon--solid">
                            {{ share.sharing_icon }}
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endif %}
