{% extends '_objects/visualModifier.twig' %}
{% block content %}
    <div class="woody-component woody-component-custom-text tpl_01 {{ border_color|default }} {{ background_color|default }} {{ background_img_opacity|default }}{% if background_img_opacity or background_color|default or border_color|default %} padd-all-md isRel{% endif %}{{ background_img ? ' has-bgimg' }}">
        {% if background_img %}
            <div class="backgroundMedia fullcenterbox" style="background-image: url('{{ background_img.url }}'); background-size:cover; background-position:center center;"></div>
        {% endif %}
        <div class="grid-x grid-padding-x{{ background_img ? ' isRel'}}">
            <div class="cell">
                {{ text|default }}
            </div>
        </div>
    </div>
{% endblock %}
