<div class="woody-component-basic-swiper {{ index_class|default('tpl_01 ') }}{{ swiperCustomClasses|default }}{{ hide_controls ? ' not-controls ' }}{{ isRel ? ' isRel' }}{{ swResp ? ' is-swResp' }}">
    <div class="swiper-container {{ swResp ? ' swResp' }} woody-swiper {{ nb_columns > 1 ? 'woody-swiper-grid-container' }} {{ styleClass|default }} {{ thumbs ? 'has-thumbs' : '' }} {{ pagination ? 'has-pagination' : '' }} {{ hide_controls ? '' : 'has-navigation' }}" data-options="{{ swiper_options|default }}" {% if nb_columns > 1 %}data-columns="{{ nb_columns|default }}"{% endif %}>
        {% include "swipers/_objects/swiperObject.twig" with {
            'isReveal' : isReveal|default()
        } %}
        {% if thumbs %}
        {% include "swipers/_objects/thumbsObject.twig" %}
        {% endif %}
    </div>
    {% if not hide_controls %}
        {% include "swipers/_objects/controlsObject.twig" with {
            'controlsClasses': 'show-for-large'
        } %}
    {% endif %}
</div>
