{% if formated_object.arrangementsHallWithLayouts|default and formated_object.arrangementLayouts|default %}
    <section id="arrangements" class="row panel panel-default">
        <table class="table">
            <thead>
                <tr>
                    {# room name label #}
                    <th>{{ 'SECTIONS.TOURISM.SHEET.HALL'|trans}}</th>
                    {# max surface label #}
                    <th>m<sup>2</sup></th>
                    {# available layouts labelicons #}
                    {% for layout in formated_object.arrangementLayouts %}
                        <th tooltip="{{layout._type|default(layout.type)}}" tooltip-append-to-body="true">
                            <i class="plo-fonticon plo-fonticon--large icon-font-{{layout.icon|default('minus')}}"></i>
                        </th>
                    {% else %}
                    {% endfor %}
                    {# room height labelicon #}
                    {#<th tooltip='Hauteur'><i class="plo-fonticon plo-fonticon--large icon-font-refold"></i></th>#}
                </tr>
            </thead>

            <tbody>
                {% for arrangement in formated_object.arrangementsHallWithLayouts %}
                    <tr>
                        {# room name #}
                        {% if arrangement._name|default %}
                            <td><span>{{ arrangement._name|default('---') }}</span></td>
                        {% else %}
                            <td><span>{{ arrangement._type|default('---') }}</span></td>
                        {% endif %}
                        {# max surface #}
                        <td>{{ arrangement.maxSurface|default('-') }}</td>

                        {#layouts#}
                        {% for layout in formated_object.arrangementLayouts %}
                            {% if arrangement.layouts|default and layout.type in arrangement.layouts|keys %}
                                <td class="">{{ arrangement.layouts[layout.type]['maxCapacity'] }}</td>
                            {% else %}
                                <td>-</td>
                            {% endif %}
                        {% else %}
                        {% endfor %}
                        {# room height #}
                        {#<td>2.7</td>#}
                    </tr>
                {% endfor %}

            </tbody>

        </table>
</section>
{% endif %}

{% if contractsLevels.content.services and (formated_object.arrangementsDefault|default or formated_object.servicesOffers|default) %}
    <section id="establishment-detail" class="row panel panel-default s-stripes s-stripes--contrast">
        <div class="panel-title-responsive"><span class="panel-title-responsive_text">{{ 'SECTIONS.TOURISM.SHEET.SERVICES'|trans }}</span></div>

        <ul class="list-group stripes-odd">
            {% if formated_object.arrangementsDefault|default %}
                {% embed "@LOCAL/helper/list-group-item.twig" with {class: 'establishment-detail-arrangement'} %}
                    {% block title %}{{ 'SECTIONS.TOURISM.SHEET.ARRANGEMENT'|trans }}{% endblock %}
                    {% block content %}
                        {% for arrangement in formated_object.arrangementsDefault %}
                            <div class="_plu-push--tiny">
                                {% if arrangement.unitsNumber|default %}
                                    <span class="arrangement_unitsNumber">{{ arrangement.unitsNumber }}</span>
                                {% endif %}
                                <span class="">{{ arrangement._type|default }}</span>
                                {% if arrangement._name|default %}
                                    <span class="arrangement__type">{{ arrangement._name }}</span>
                                {% endif %}
                                {% if arrangement._description|default %}
                                    <span class="arrangement_description"> - {{ arrangement._description }}</span>
                                {% endif %}
                                {% if arrangement.maxSurface is defined and (arrangement.maxSurface| number_format != 0) %}
                                    <span class="arrangement_maxSurface">({{arrangement.maxSurface| number_format}} m<sup>2</sup>)</span>
                                {% elseif arrangement.averageSurface is defined and (arrangement.averageSurface| number_format != 0) %}
                                    <span class="arrangement_averageSurface">({{arrangement.averageSurface| number_format}} m<sup>2</sup>)</span>
                                {% endif %}

                                {% if arrangement.layouts|default %}
                                    <ul class="_plu-cushion-left--tiny _plu-push--tiny arrangement_layouts">
                                        {% for layout in arrangement.layouts %}
                                            <li class="zeta _plu-text-muted--light">
                                                &bull;
                                                {% if thesaurus.fulldictionary[layout.type] %}
                                                    {{ thesaurus.fulldictionary[layout.type] }}
                                                {% endif %}
                                                {% if layout.maxCapacity is defined and layout.maxCapacity is not empty %}
                                                    ({{ layout.maxCapacity }}
                                                    {% if thesaurus.fulldictionary[layout._code] %}
                                                        {{ thesaurus.fulldictionary[layout._code] }}
                                                    {% endif %})
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% endblock %}
                {% endembed %}
            {% endif %}

            {# Hack for accessibleLink when no accessibility services are found #}
            {% set hasAccessibilityServices = false %}
            {% for service in formated_object.servicesOffers %}
                {% if service.type == '15.01' %}
                    {% set hasAccessibilityServices = true %}
                {% endif %}
            {% endfor %}
            {% if not hasAccessibilityServices and formated_object.accessibleLink|default %}
                {% embed "@LOCAL/helper/list-group-item.twig" with {class: 'establishment-detail'} %}
                    {% block title %}{{thesaurus.fulldictionary['15.01']}}{% endblock %}
                    {% block content %}
                        <div class="_plu-push">
                            <span class="icon-font-globe plo-fonticon"></span>
                            <span class="_plu-hard--left website ellipsis" {# interact event-type="WEBSITE_TOURISTIC_PROVIDER" #}>
                                <a rel="nofollow" data-type="URL" class='nowrap' itemprop="url" href="{{ formated_object.accessibleLink }}" target="_blank">{{ formated_object.accessibleLink|simpleURL }}</a>
                            </span>
                        </div>
                    {% endblock %}
                {% endembed %}
            {% endif %}

            {% for service in formated_object.servicesOffers %}
                {% if service.servicesDetail|default and thesaurus.fulldictionary[service.type] is defined %}
                    {% embed "@LOCAL/helper/list-group-item.twig" with {class: 'establishment-detail' } %}
                        {% block title %}{{thesaurus.fulldictionary[service.type]}}{% endblock %}
                        {% block content %}
                            {% if service.type == '15.01' %} {# if accessibilities #}
                                {% if formated_object.accessibleLink|default %}
                                <div class="_plu-push">
                                        <span class="icon-font-globe plo-fonticon"></span>
                                        <span class="_plu-hard--left website ellipsis" {# interact event-type="WEBSITE_TOURISTIC_PROVIDER" #}>
                                            <a rel="nofollow" data-type="URL" class='nowrap' itemprop="url" href="{{ formated_object.accessibleLink }}" target="_blank">{{ formated_object.accessibleLink|simpleURL }}</a>
                                        </span>
                                </div>
                                {% endif %}
                            <ul class="plo-list-bare accessibilities">
                            {% else %}
                            <ul class="plo-list-bare col-xs-6">
                            {% endif %}
                                {% for servicedetail in service.servicesDetail  %}
                                    {% if servicedetail.service|default and servicedetail._service is defined %}
                                        {% if service.type != '15.01' and loop.index0 == ((loop.length/2)|round) %}</ul><ul class="plo-list-bare col-xs-6">{% endif %}
                                        <li>
                                            {{ servicedetail._service }}
                                            {% if servicedetail.distance is defined
                                                and servicedetail.distanceUnit is defined
                                                and thesaurus.fulldictionary[servicedetail.distanceUnit] is defined %}
                                                    <em class="zeta _plu-text-muted--light">{{ 'GLOBAL.AT'|trans }} {{ servicedetail.distance }} {{ thesaurus.fulldictionary[servicedetail.distanceUnit] }}</em>
                                            {% endif %}
                                            {% if servicedetail._description is defined %}
                                                <div class="zeta _plu-text-muted--light _plu-cushion--tiny"><em>&bull;&nbsp;{{ servicedetail._description }}</em></div>
                                            {% endif %}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endblock %}
                    {% endembed %}
                {% endif %}
            {% endfor %}

        </ul>
    </section>
{% endif %}
