<div class="woody-mobile-swiper swiper-container {{ swResp ? ' swResp' }}" {% if mobile_cols > 1 %}data-columns="{{ mobile_cols|default }}"{% endif %}>
    <div class="grid-x{{ no_padding == 0 ? ' grid-padding-x grid-padding-y' }} {{ swResp ? ' swRespW' }} {{ mobile_cols > 1 and not swResp ? 'respGrid2'}}">
        {% for key, item in items %}
                <div class="cell swRespS {{ mobile_cols > 1 and not swResp ? 'small-6 medium-12'}}">
                    {% if loop.index is odd %}
                        {% include "cards/#{oddCard}/tpl.twig" with {
                            'page_type' : item.page_type,
                            'ellipsis': item.ellipsis|default(false),
                            'card_index':key + 1
                        } %}
                    {% else %}
                        {% include "cards/#{evenCard}/tpl.twig" with {
                            'page_type' : item.page_type,
                            'ellipsis': item.ellipsis|default(false),
                            'card_index':key + 1
                        } %}
                    {% endif %}
                </div>
        {% endfor %}
    </div>
</div>
