{% extends '_objects/bgParamsObject.twig' %}
{% block woodyBlockType %}focus{% endblock %}
{% block indexClass %}{{ customIndexClass|default('501') }}{% endblock %}
{% block woodyComponentContent %}
    {% if customCard is not defined %}
        {% set customCard = "overlayed_card/tpl_02" %}
    {% endif %}

    {% include 'blocks/focus/_objects/headerObject.twig' with {
        display: display_block_titles,
        margin: 'marg-bottom-md'
    } %}

    {% if items|length > 0 and items|length < 5 %}
        {% include 'blocks/focus/_objects/fallbackGridObject.twig' with {
            'card' : customCard|default("overlayed_card/tpl_02"),
            'image_style' : customImageStyleFirst|default("ratio_4_3"),
        }%}
    {% else %}
        <div class="woody-mobile-swiper swiper-container {{ swResp ? ' swResp' }}" {% if nb_columns > 1 %}data-columns="{{ nb_columns|default }}"{% endif %}>
            <div class="grid-x{{ no_padding == 0 ? ' grid-padding-x grid-padding-y' }}{{ swResp ? ' swRespW' }} {{ nb_columns > 1 and not swResp ? 'respGrid2' }}">
                {% for key, item in items[: 2] %}
                    <div class="cell medium-6 large-4{{ swResp ? ' swRespS' }} {{ nb_columns > 1 and not swResp ? 'small-6' }}">
                        {% include "cards/#{customCard}/tpl.twig" with {
                            'image_style' : customImageStyleFirst|default("ratio_4_3"),
                            'page_type' : item.page_type,
                            'ellipsis': item.ellipsis|default(false),
                            'card_index':key + 1
                        } %}
                    </div>
                {% endfor %}
                {% for key, item in items[2:1]%}
                    <div class="cell large-4{{ swResp ? ' swRespS' }}">
                        {% include "cards/#{customCard}/tpl.twig" with {
                            'image_style' : customImageStyleFirst|default("ratio_4_3"),
                            'page_type' : item.page_type,
                            'ellipsis': item.ellipsis|default(false),
                            'card_index':key + 3
                        } %}
                    </div>
                {% endfor %}
                {% for key, item in items[3:2] %}
                    <div class="cell medium-6{{ swResp ? ' swRespS' }} {{ nb_columns > 1 and not swResp ? 'small-6' }}">
                        {% include "cards/#{customCard}/tpl.twig" with {
                            'image_style' : customImageStyleSecond|default("ratio_16_9"),
                            'page_type' : item.page_type,
                            'ellipsis': item.ellipsis|default(false),
                            'card_index':key + 4
                        } %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% include 'blocks/focus/_objects/focus_buttons.twig' %}
{% endblock %}
