{% spaceless %}
{% if img|default %}

    {% if img.url is empty and img.sizes is empty and img is iterable %}
        {% set img = img|merge({'resizer': true}) %}
        {% set img = img|merge({'url': 'https://api.cloudly.space/resize/crop/%width%/%height%/75/aHR0cHM6Ly9hcGkudG91cmlzbS1zeXN0ZW0uY29tL3N0YXRpYy9hc3NldHMvaW1hZ2VzL3Jlc2l6ZXIvd29vZHlfNDA0LmpwZw==/404.jpg'}) %}
    {% endif %}

    {% if img.resizer|default %}
        {% set tiny_square = img.url | replace({'%width%/%height%': "360/360"}) %}
        {% if image_style == 'ratio_8_1' %}
            {% set small_size = img.url | replace({'%width%/%height%': "360/45"}) %}
            {% set medium_size = img.url | replace({'%width%/%height%': "640/80"}) %}
            {% set large_size = img.url | replace({'%width%/%height%': "1200/150"}) %}
            {% set original_size = img.url | replace({'%width%/%height%': "1920/240"}) %}
        {% elseif image_style == 'ratio_4_1' %}
            {% set small_size = img.url | replace({'%width%/%height%': "360/90"}) %}
            {% set medium_size = img.url | replace({'%width%/%height%': "640/160"}) %}
            {% set large_size = img.url | replace({'%width%/%height%': "1200/300"}) %}
            {% set original_size = img.url | replace({'%width%/%height%': "1920/480"}) %}
        {% elseif image_style == 'ratio_3_1' %}
            {% set small_size = img.url | replace({'%width%/%height%': "360/120"}) %}
            {% set medium_size = img.url | replace({'%width%/%height%': "640/214"}) %}
            {% set large_size = img.url | replace({'%width%/%height%': "1200/400"}) %}
            {% set original_size = img.url | replace({'%width%/%height%': "1920/640"}) %}
        {% elseif image_style == 'ratio_2_1' %}
            {% set small_size = img.url | replace({'%width%/%height%': "360/180"}) %}
            {% set medium_size = img.url | replace({'%width%/%height%': "640/320"}) %}
            {% set large_size = img.url | replace({'%width%/%height%': "1200/600"}) %}
            {% set original_size = img.url | replace({'%width%/%height%': "1920/960"}) %}
        {% elseif image_style == 'ratio_16_9' %}
            {% set small_size = img.url | replace({'%width%/%height%': "360/203"}) %}
            {% set medium_size = img.url | replace({'%width%/%height%': "640/360"}) %}
            {% set large_size = img.url | replace({'%width%/%height%': "1200/675"}) %}
            {% set original_size = img.url | replace({'%width%/%height%': "1920/1080"}) %}
        {% elseif image_style == 'ratio_4_3' %}
            {% set small_size = img.url | replace({'%width%/%height%': "360/270"}) %}
            {% set medium_size = img.url | replace({'%width%/%height%': "640/480"}) %}
            {% set large_size = img.url | replace({'%width%/%height%': "1200/900"}) %}
            {% set original_size = img.url | replace({'%width%/%height%': "1920/1440"}) %}
        {% elseif image_style == 'ratio_3_4' %}
            {% set small_size = img.url | replace({'%width%/%height%': "360/480"}) %}
            {% set medium_size = img.url | replace({'%width%/%height%': "640/854"}) %}
            {% set original_size = img.url | replace({'%width%/%height%': "1200/1600"}) %}
        {% elseif image_style == 'ratio_10_16' %}
            {% set small_size = img.url | replace({'%width%/%height%': "360/576"}) %}
            {% set medium_size = img.url | replace({'%width%/%height%': "640/1024"}) %}
            {% set original_size = img.url | replace({'%width%/%height%': "1200/1920"}) %}
        {% elseif image_style == 'ratio_a4' %}
            {% set small_size = img.url | replace({'%width%/%height%': "360/509"}) %}
            {% set medium_size = img.url | replace({'%width%/%height%': "640/905"}) %}
            {% set original_size = img.url | replace({'%width%/%height%': "1200/1697"}) %}
        {% elseif image_style == 'ratio_square' %}
            {% set small_size = img.url | replace({'%width%/%height%': "360/360"}) %}
            {% set medium_size = img.url | replace({'%width%/%height%': "640/640"}) %}
            {% set original_size = img.url | replace({'%width%/%height%': "1200/1200"}) %}
        {% endif %}
    {% else %}

    {% if tiny_square is not defined %}
        {% set tiny_square = img.sizes['ratio_square_small'] %}
    {% endif %}

    {% set small_size = img.sizes[image_style ~ '_small'] %}
    {% set medium_size = img.sizes[image_style ~ '_medium'] %}
    {% set original_size = img.sizes[image_style] %}
    {% if img.sizes[image_style ~ '_large'] %}
        {% set large_size = img.sizes[image_style ~ '_large'] %}
    {% endif %}
    {% endif %}

    {% set blank_ratio = "/app/themes/woody-theme/src/img/blank/" ~ image_style ~ ".png" %}

    {% if large_size %}
        {% set srcset = "#{ small_size } 360w, #{ medium_size } 640w, #{ large_size } 1200w, #{ original_size } 1920w" %}
    {% else %}
        {% set srcset = "#{ small_size } 360w, #{ medium_size } 640w, #{ original_size } 1200w" %}
    {% endif %}

    <figure itemscope itemtype="http://schema.org/ImageObject" class="isRel imageObject{{ noRespCrop|html_class }}{{ containerClass|html_class }}{{ img.attachment_more_data.is_instagram ? ' is_instagram' }}">
        {% if img.lazy == 'disabled' %}
            <img class="imageObject-img img-responsive" src="{{ original_size }}" alt="{{ img.alt|default(img.filename) }}" srcset="{{ srcset }}" itemprop="thumbnail"  {% if img_mobile_url %} data-mobile-img="{{ img_mobile_url }}" {% endif %} {% if tiny_square|default %} data-tiny-square-url="{{ tiny_square }}"{% endif %}/>
        {% else %}
            <noscript>
                <img class="imageObject-img img-responsive{{ img.class|html_class }}" src="{{ medium_size }}" alt="{{ img.alt|default(img.filename) }}" itemprop="thumbnail"/>
            </noscript>
            <img class="imageObject-img img-responsive{{ lazyClass|default("lazyload")|html_class }}" src="{{ blank_ratio }}" srcset="{{ blank_ratio }}" data-src="{{ medium_size }}" data-sizes="auto" data-srcset="{{ srcset }}" alt="{{ img.alt|default(img.filename) }}" itemprop="thumbnail" {% if img_mobile_url %} data-mobile-img-url="{{ img_mobile_url }}" {% endif %} {% if tiny_square|default %} data-tiny-square-url="{{ tiny_square }}"{% endif %}/>
        {% endif %}
        {% if img.date %}
            <meta itemprop="datePublished" content="{{ img.date }}">
        {% endif %}
        {% if img.description %}
            <span class="hide imageObject-description" itemprop="description" data-nosnippet>{{ img.description|striptags|raw }}</span>
        {% endif %}

        {% block imageCaption %}
            {% if img.caption|default or img.attachment_more_data.author|default %}
                <div class="imageObject-caption flex-container align-middle isAbs{{ img_caption_position|default('bottom left')|html_class }}{{ hide_caption ? ' hide' }}" data-nosnippet>
                    {% if img.attachment_more_data.is_instagram %}
                        <span class="imageObject-icon wicon wicon-011-instagram flex-container align-center align-middle"></span>
                    {% else %}
                        <span class="imageObject-icon copyright-icon flex-container align-center align-middle">©</span>
                    {% endif %}
                    {% if img.caption|default %}
                        <span class="imageObject-text imageObject-description" itemprop="caption">{{ img.caption|striptags|raw }}</span>
                        {% if img.attachment_more_data.author|default %}
                            <span class="imageObject-text separator">|</span>
                        {% endif %}
                    {% endif %}
                    {% if img.attachment_more_data.author|default %}
                        <span class="imageObject-text imageObject-author" itemprop="copyrightHolder">{{ img.attachment_more_data.author|raw }}</span>
                    {% endif %}
                </div>
            {% endif %}
        {% endblock %}

    </figure>
    {% if item.slideshow %}
    <div class="hide slideshow-srcs" data-ratio="{{ image_style }}" data-srcs='{{ item.slideshow.srcs|json_encode|base64Encode }}' data-alts="{{ item.slideshow.alts|json_encode|base64Encode }}">
    </div>
    {% endif %}
{% endif %}
{% endspaceless %}
