{% spaceless %}
	<div class="{{ contextPrefix }}-titles {{ titles.icon_type == 'picto' and titles.woody_icon ? 'has-icon-picto' }}{{ titles.icon_type == 'img' ? 'has-icon-img' }} {{ flexOptions|default }}">

		{% block cardIcon %}
			{% if titles.icon_type == 'picto' and titles.woody_icon|default %}
				<span class="{{ contextPrefix }}-wicon wicon wicon-woody-icons {{ titles.woody_icon }}"></span>
			{% elseif titles.icon_type == 'img' and titles.icon_img %}
				<img class="img-responsive" src="{{ titles.icon_img.sizes.ratio_free }}" {% if titles.icon_img.alt %} alt="{{ titles.icon_img.alt }}" {% endif %}/>
			{% endif %}
		{% endblock %}

		{% if titles.the_price.price or titles.the_duration.count_days or titles.the_duration.count_hours or titles.the_duration.count_minutes or title.the_length.length %}
			<div class="{{ contextPrefix }}-tripInfos-wrapper isAbs padd-all-sm">
				{% block cardPrice %}
					{% if titles.the_price.price|default %}
						<div class="tripInfos-price {{ cardPriceClasses|default }}">
							{% if titles.the_price.prefix_price|default %}
								<span class="prefix">
									<small>{{ __('à partir de', 'woody-theme') }}</small>
								</span>
							{% endif %}
							<span class="value fat-text">{{ titles.the_price.price  }}
								<span class="unit {{ titles.the_price.currency.value|default('euro') }}">{{ titles.the_price.currency.label|default('€') }}</span>
							</span>
							{% if titles.the_price.suffix_price %}
								<span class="suffix">
									<small>{{ titles.the_price.suffix_price  }}</small>
								</span>
								{% endif %}
							</div>
						{% endif %}
					{% endblock %}

					{% block cardDuration %}
						{% if titles.the_duration.count_days or titles.the_duration.count_hours or titles.the_duration.count_minutes %}
							<div class="tripInfos-duration">
								<span class="value fat-text">
									{% if titles.the_duration.duration_unit == 'hours' and titles.the_duration.count_hours %}
										{{ titles.the_duration.count_hours|pluralizeUnit(__('heure', 'woody-theme'), __('heures', 'woody-theme')) }}
									{% elseif titles.the_duration.duration_unit == 'minutes' and titles.the_duration.count_minutes %}
										{{ titles.the_duration.count_minutes|pluralizeUnit(__('min.', 'woody-theme')) }}
									{% elseif titles.the_duration.count_days %}
										{{ titles.the_duration.count_days|pluralizeUnit(__('jour', 'woody-theme'), __('jours', 'woody-theme')) }}
									{% endif %}
								</span>
							</div>
						{% endif %}
					{% endblock %}

					{% block cardLength %}
						{% if title.the_length.length|default %}
							<div class="tripInfos-length">
								<span class="value fat-text">{{ titles.the_length.count_length  }}
									<span class="unit">km</span>
								</span>
							</div>
						{% endif %}
					{% endblock %}
				</div>
			{% endif %}

			{% block cardDates %}
				{% if titles.date|default %}
					<div class="{{ contextPrefix }}-date {{ cardDatesClasses|default}}">
						{% if titles.date.start|default %}
							<span class="date-part {{ contextPrefix }}-startDate">
								<span class="{{ contextPrefix }}-startDate-day">{{ titles.date.start.day|default }}</span>
								<span class="{{ contextPrefix }}-startDate-month">{{ titles.date.start.shortMonth|default }}</span>
							</span>
						{% endif %}
						{% if titles.date.start|default and titles.date.oneday == false %}
							<span class="{{ contextPrefix }}-dateDivider wicon wicon-025-suivant"></span>
							<span class="date-part {{ contextPrefix }}-endDate">
								<span class="{{ contextPrefix }}-endDate-day">{{ titles.date.end.day|default }}</span>
								<span class="{{ contextPrefix }}-endDate-month">{{ titles.date.end.shortMonth|default }}</span>
							</span>
						{% endif %}

					</div>
				{% endif %}
			{% endblock %}

			{% block cardTitles %}
				{% if titles.pretitle or titles.title or titles.subtitle or titles.sheet_type or titles.description %}
					<div class="{{ contextPrefix }}-texts {{ textsClasses|default }}{{ titles.pretitle ? ' has-pretitle ' }}{{ titles.subtitle ? ' has-subtitle' }}{{ titles.description ? ' has-desc' }}{{ titles.created ? ' has-created' }}">
						{% if titles.pretitle|default %}
							<span class="{{ contextPrefix }}-pretitle">{{ titles.pretitle }}</span>
						{% endif %}
						{% if titles.title|default %}
							{% if contextPrefix == 'section' or title_as_h2 or (globals.blocs_title_as_h2 and contextPrefix == 'focus-block' or contextPrefix == 'generic-block') %}
								<h2 class="{{ contextPrefix }}-title">{{ titles.title }}</h2>
							{% elseif titles.title_as_h1 %}
								<h1 class="{{ contextPrefix }}-title">{{ titles.title }}</h1>
							{% else %}
								<span class="{{ contextPrefix }}-title">{{ titles.title }}</span>
							{% endif %}
						{% endif %}
						{% if titles.subtitle|default %}
							<span class="{{ contextPrefix }}-subtitle">{{ titles.subtitle }}</span>
						{% endif %}
						{% if titles.sheet_type %}
							<span class="{{ contextPrefix }}-type">{{ titles.sheet_type }}</span>
						{% endif %}
                       {% if titles.created %}
							<div class="{{ contextPrefix }}-created">{{__('Publié le', 'woody-theme')}} {{ titles.created }}</div>
                        {% endif %}
						{% if titles.sheet_rating|default %}
							<div class="{{ contextPrefix }}-ratings">{{ titles.sheet_rating|raw }}</div>
						{% endif %}
						{% if titles.address|default %}
							<div class="{{ contextPrefix }}-address">{{ titles.address|raw }}</div>
						{% endif %}
						{% if titles.phone.number|default %}
							<div class="{{ contextPrefix }}-phone">{{ titles.phone.number|raw }}</div>
						{% endif %}
						{% if titles.website|default %}
							<div class="{{ contextPrefix }}-website">{{ titles.website|raw }}</div>
						{% endif %}
						{% if titles.description|default and not no_desc %}
							{% if ellipsis and not item.remove_ellipsis %}
								<div class="{{ contextPrefix }}-description">{{ titles.description|ellipsis(ellipsis, '...', false, false) }}</div>
							{% else %}
								<div class="{{ contextPrefix }}-description">{{ titles.description }}</div>
							{% endif %}
						{% endif %}
						{% block sheetTown %}
							{% if titles.sheet_town|default %}
								<span class="{{ contextPrefix }}-town">
									<span class="wicon wicon-039-pin"></span>
									<small>{{ titles.sheet_town }}</small>
								</span>
							{% endif %}
						{% endblock %}
					</div>
				{% endif %}
			{% endblock %}

            {% block sheetLocomotions %}
				{% if titles.sheet_itinerary.locomotions %}
                    <div class="card-iti">
                        {% block sheetLength %}
                            {% if titles.sheet_itinerary.length %}
                                <span class="{{ contextPrefix }}-iti-length">
                                    <small>{{ titles.sheet_itinerary.length }}</small>
                                </span>
                            {% endif %}
                        {% endblock %}
                        <ul class="{{ contextPrefix }}-iti-infos list-unstyled text-darkgray">
                            {% for lenth in titles.sheet_itinerary.length %}

                            {% endfor %}
                            {% for locomotion in titles.sheet_itinerary.locomotions %}
                                {# Format icon #}
                                {% if locomotion.icon == 'e63b' %}
                                    {% set iti_icon = '075-velo' %}
                                {% elseif locomotion.icon == 'e633' %}
                                    {% set iti_icon = '074-nageur' %}
                                {% elseif locomotion.icon == 'e622'%}
                                    {% set iti_icon = '077-voiture' %}
                                {% elseif locomotion.icon == 'e626'%}
                                    {% set iti_icon = '073-chaussures' %}
                                {% elseif locomotion.icon == 'e668'%}
                                    {% set iti_icon = '076-vtt' %}
                                {% elseif locomotion.icon == 'e911'%}
                                    {% set iti_icon = '070-cheval' %}
                                {% elseif locomotion.icon == 'e912'%}
                                    {% set iti_icon = '072-kayak' %}
                                {% elseif locomotion.icon == 'e920'%}
                                    {% set iti_icon = '078-moto' %}
                                {% elseif locomotion.icon == 'e955'%}
                                    {% set iti_icon = '069-trekking' %}
                                {% elseif locomotion.icon == 'e98e'%}
                                    {% set iti_icon = '071-raquettes' %}
                                {% elseif locomotion.icon == 'e9ac'%}
                                    {% set iti_icon = '068-aller-simple' %}
                                {% elseif locomotion.icon == 'e9ad'%}
                                    {% set iti_icon = '067-aller-retour' %}
                                {% elseif locomotion.icon == 'e9ae'%}
                                    {% set iti_icon = '066-boucle' %}
                                {% endif %}
                                <li class="iti-infos">
                                    <div class="iti-infos-type">
                                        {% if iti_icon %}
                                            <span class="wicon wicon-{{ iti_icon }}"></span>
                                        {% endif %}
                                        {% if locomotion._locomotion %}
                                            <small class="term">{{ locomotion._locomotion }}</small>
                                        {% endif %}
                                        {% if locomotion.typeTraceItinerary %}
                                            <small class="trace-type">{{ locomotion.typeTraceItinerary }}</small>
                                        {% endif %}
                                        {% if locomotion.duration %}
                                        <small class="iti-infos-time">{{ locomotion.duration }}</small>
                                        {% endif %}
                                        {% if locomotion.difficulty %}
                                            <small class="iti-infos-level">{{ locomotion.difficulty }}</small>
                                        {% endif %}
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
				{% endif %}
			{% endblock %}
		</div>
	{% endspaceless %}
