{% spaceless %}
    <div class="videoObject {{ containerClass|default }}" itemprop="video" itemscope="itemscope" itemtype="http://schema.org/VideoObject">
    {% if movie.movie_poster_file.title|default %}
        <span class="hide videoObject-name" itemprop="name">{{ movie.movie_poster_file.title }}</span>
        <meta itemprop="thumbnailUrl" content="{{ movie.movie_poster_file.sizes[image_style]|default }}"/>
    {% endif %}
    {% if movie.mp4_movie_file or movie.movie_ogg_file or movie.movie_webm_file %}
        <video class="card-video videoObject-video" poster="{{ movie.movie_poster_file.sizes[image_style] }}"{% if ratio|default %} style="height:calc(100vw / {{ ratio }})"{% endif %}{% if autoplay %} autoplay{% endif %}{% if loop %} loop{% endif %}{% if muted %} muted{% endif %}{% if playsinline %} playsinline{% endif %}{% if controls %} controls{% endif %}>
            {% if movie.mp4_movie_file|default %}<source src="{{ movie.mp4_movie_file.url }}" type="video/mp4">{% endif %}
            {% if movie.movie_ogg_file|default %}<source src="{{ movie.movie_ogg_file.url }}" type="video/ogg">{% endif %}
            {% if movie.movie_webm_file|default %}<source src="{{ movie.movie_webm_file.url }}" type="video/webm">{% endif %}
            Your browser does not support the video tag.
        </video>
    {% endif %}
    {% if movie.mp4_movie_file  %}
        <meta itemprop="uploadDate" content="{{ movie.mp4_movie_file.date }}"/>
        <span class="hide" itemprop="description" data-nosnippet>{{ movie.mp4_movie_file.description|default(movie.movie_poster_file.description)|default(movie.mp4_movie_file.filename) }}</span>
    {% elseif movie.ogg_movie_file %}
        <meta itemprop="uploadDate" content="{{ movie.ogg_movie_file.date }}"/>
        <span class="hide" itemprop="description" data-nosnippet>{{ movie.ogg_movie_file.description|default(movie.movie_poster_file.description)|default(movie.ogg_movie_file.filename) }}</span>
    {% elseif movie.webm_movie_file %}
        <meta itemprop="uploadDate" content="{{ movie.webm_movie_file.date }}"/>
        <span class="hide" itemprop="description" data-nosnippet>{{ movie.webm_movie_file.description|default(movie.movie_poster_file.description)|default(movie.webm_movie_file.filename) }}</span>
    {% endif %}
</div>
{% endspaceless %}
