{% extends 'blocks/booking/tpl_01/tpl.twig' %}
{% block index_class %}tpl_02 tabulation isRel {% endblock %}
{% block form_tabs %}
    <div class="form-tabs isAbs">
        {% if bookblock_playlists|default %}
            <ul class="tabs-list list-unstyled flex-container align-center wrap show-for-large">
                {% for pl in bookblock_playlists %}
                    <li class="tabs-title">
                        <button class="tab-button {{ loop.first ? ' is-active' }}" type="button" data-plid="{{ pl.pl_post_id }}">
                            {% if pl.pl_woody_icon|default %}
                                <span class="wicon {{ pl.pl_woody_icon }}"></span>
                            {% endif %}
                            {% if pl.pl_label|default %}
                            <span class="title">{{ pl.pl_label }}</span>
                        {% endif %}
                        </button>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
{% block title %}
        <div class="bookblock-title"><span>{{ bookblock_title }}</span></div>
{% endblock %}
{% block select_classes %} hide-for-large{% endblock %}
