{% set random_number = ''|random_number %}
<div class="woody-component woody-component-list-filter type-rangeSlider tpl_03" data-step="1" data-caption="{{ __('jours', 'woody-themes') }}">
    <label class="filter-label">{{ filter.list_filter_name }}</label>
    <div id="rangeSlider_{{ random_number }}" class="rangeSlider" data-min="{{ filter.minmax.min }}" data-max="{{ filter.minmax.max }}" data-start="{{ filter.minmax.default_min|default(filter.minmax.min) }}" data-stop="{{ filter.minmax.default_max|default(filter.minmax.max) }}" data-type="duration"></div>
    <input class="duration_min" name="{{ uniqid }}_td_{{ filter_index }}_min" type="hidden" value="{{ filter.minmax.default_min|default(filter.minmax.min) }}">
    <input class="duration_max" name="{{ uniqid }}_td_{{ filter_index }}_max" type="hidden" value="{{ filter.minmax.default_max|default(filter.minmax.max) }}">
</div>
