<div class="woodyGallery grid-x {{ gridClass|default }} splitGallery{{ gallery_no_padding == 0 ? ' grid-padding-x grid-padding-y' }}" itemscope="itemscope" itemtype="http://schema.org/ImageGallery">
    {% if is_mobile and mobile_grid == 'swiper' %}
        {% if gallery_items|default %}
            {% if swipeFrom and gallery_items|length > swipeFrom|default(1) %}
                {% set json_swiper_options = swiper_options | json_encode | e('html_attr') %}
                {% include 'swipers/basic_swiper/tpl_01/tpl.twig' with {
                    'items' : gallery_items,
                    'card' : customCard|default("media_card/tpl_01"),
                    'image_style' : customImageStyle|default("ratio_square"),
                    'isRel' : true,
                    'swResp' : true,
                    'swiper_options' : json_swiper_options,
                    'isReveal' : isReveal|default()
            } %}
            {% endif %}
        {% endif %}
    {% else %}
        {% if gallery_items|default %}
            {% for item in gallery_items[: firstColItemsCount|default(1)] %}
                <div class="cell {{ firstColGridClass|default('medium-6') }}">
                    {% include "cards/#{customCard|default('media_card/tpl_01')}/tpl.twig" with {
                            'image_style' : customImageStyleFirst|default("ratio_10_16")
                    } %}
                </div>
            {% endfor %}
            <div class="cell {{ secondColGridClass|default('medium-6') }}">
                <div class="grid-y medium-grid-frame{{ gallery_no_padding == 0 ? ' grid-padding-y' }}">
                    {% for item in gallery_items[firstColItemsCount|default(1) : secondColItemsCount|default(2)] %}
                        <div class="cell {{ secondColCellClass|default('medium-6') }}">
                            {% include "cards/#{customCard|default('media_card/tpl_01')}/tpl.twig" with {
                                'image_style' : customImageStyleSecond|default("ratio_4_3")
                            } %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% for item in gallery_items[fallBackItemsStart|default(3) :] %}
                <div class="cell {{ fallbackCellClass|default('medium-6') }}">
                    {% include "cards/#{customCard|default('media_card/tpl_01')}/tpl.twig" with {
                        'image_style' : fallbackImageStyle|default("ratio_10_16")
                    } %}
                </div>
            {% endfor %}
        {% endif %}
    {% endif %}
</div>
