<div id="{{ uniqid|default }}" class="woody-component woody-component-list-full tpl_101">
    <div class="grid-x grid-padding-x grid-padding-y">
        {% if filters|length != 0 %}
            {% set random_number = ''|random_number %}
            <div class="cell isRel accordion the_filter" data-accordion data-allow-all-closed="true" id="accordion-{{ random_number }}">
                <div class="accordion-item" data-accordion-item>
                    <a class="accordion-title" href="#filters-{{ random_number }}">
                        {{ __("Affiner ma recherche", 'woody-theme') }}</a>
                    <div class="accordion-content" data-tab-content id="filters-{{ random_number }}">
                        <form class="woody-component-filters-wrapper isRel {{ filters.display.classes|default }} padd-all-md{{ filters.display.background_img ? ' has-bgimg' }}" action="{{ permalink }}" method="post">
                            {% if filters.display.background_img %}
                                <div class="backgroundMedia fullcenterbox" style="background-image: url('{{ filters.display.background_img.url }}'); background-size:cover; background-position:center center;"></div>
                                <div class="content isRel">
                                {% endif %}
                                <div class="grid-x grid-padding-x grid-padding-y">
                                    {% for filter_index, filter in filters %}
                                        {% if filter.list_filter_type == 'taxonomy' or filter.list_filter_type == 'custom_terms' %}
                                            <div class="cell filter-item">
                                                {% include 'lists/list_filters/tpl_01/tpl.twig' %}
                                            </div>
                                            {% elseif filter.list_filter_type == 'price' %}
                                            <div class="cell filter-item">
                                                {% include 'lists/list_filters/tpl_02/tpl.twig' %}
                                            </div>
                                            {% elseif filter.list_filter_type == 'duration' %}
                                            <div class="cell filter-item">
                                                {% include 'lists/list_filters/tpl_03/tpl.twig' %}
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    {% block list_form_actions %}
                                        <div class="cell form-actions">
                                            <input type="hidden" name="uniqid" value="{{ uniqid }}">
                                                <input id="{{ uniqid|default }}-submit" type="submit" name="submit" value="{{ filters.button.filter_button_text|default }}" class="button">
                                                    {% if filters.reset|default %}
                                                        <input id="{{ uniqid|default }}-reset" type="submit" name="reset" value="{{ __('Réinitialiser', 'woody-theme') }}" class="button reset-button">
                                                        {% endif %}
                                                    </div>
                                                {% endblock %}
                                            </div>
                                            {% if filters.display.background_img %}
                                            </div>
                                        {% endif %}
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="cell the_grid">
                        <div class="elements-wrapper">
                            {{ the_grid|default }}</div>
                    </div>
                </div>
                {% if pager|default %}
                    <div class="cell flex-container the_pager {{ pager_position|default }}">
                        {{ pager }}
                    </div>
                {% endif %}
            </div>
