<!-- App Download -->
{% if formated_object.mobitour|default and formated_object.mobitour.name|default %}
    <span class="itinerary-infos-section tourism-detail-section section-app">
        <h3 class="section-title">
            {{ GLOBAL.MOBILE_APP|trans }}
        </h3>
        <span class="section-content">
            {% if formated_object.mobitour.applicationConfigs|default and formated_object.mobitour.applicationConfigs.mobitourUrl|default %}
                <a href="{{app.applicationConfigs.mobitourUrl}}" target="_blank" class="app-link">
                    {% if formated_object.mobitour.medias|default %}
                        {% for media in formated_object.mobitour.medias if media.type == 'icon' %}
                            {% if media.url|default %}
                                <span class="app-image">
                                    <img src="{{ media.url | rcImg(70, 70, 80, 'jpg', 'clip') }}">
                                </span>
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    <span class="app-name">
                        <span class="app-label">
                            {{ SECTIONS.TOURISM.SHEET.ITINERARY.DOWNLOAD_THE_APP |trans }}
                        </span>
                        <span class="app-name-value">{{ formated_object.mobitour.name }}</span>
                    </span>
                </a>
            {% endif %}
        </span>
    </span>
{% endif %}