{# should display info bar ? #}
{% if (config.options.remindernavbar is defined and config.options.remindernavbar) or config.options.remindernavbar is not defined %}

    {% if (contractsLevels.content.booking and (formated_object.bookingUrl|default or formated_object.centralResa|default))
        or (contractsLevels.sidebar.vcard and formated_object.emails.establishment|default and not formated_object.contactLabel|default)
        or (contractsLevels.content.reviews and formated_object.dataFairguest|default and formated_object.dataFairguest.display and formated_object.dataFairguest.idGroup|default) %}
        <ul class="sheet-nav-actions _plu-push">

            {% if contractsLevels.content.booking and formated_object.bookingUrl|default %}
                {% if true and config.options.warningExternalLink is defined and config.options.warningExternalLink %}
                    <li class="sheet-nav-actions_item nav-booking" data-open="warningExternalLink_modal">
                        <div class="plo-btn dark sheet-nav-actions_button">
                            {{'SECTIONS.PLANNING.MENU.ORDER'|trans}}
                        </div>
                    </li>
                {% else %}
                    <li class="sheet-nav-actions_item nav-booking">
                        <a target="_blank" rel="nofollow"
                            href="{{formated_object.bookingUrl}}"
                            class="plo-btn dark sheet-nav-actions_button"
                            analytics-mediaveille {# Tracking MediaVeille #}
                            data-fs-tracking="RESERVATION" {# Tracking Tourinsoft #}
                            interact event-type="SHEET_BOOK_URL">
                            {{'SECTIONS.PLANNING.MENU.ORDER'|trans}}
                        </a>
                    </li>
                {% endif %}
            {% elseif contractsLevels.content.booking and formated_object.centralResa|default %}
                <li anchor-link ng-click="scrollTo('#booking')" class="sheet-nav-actions_item nav-booking">
                    <span class="plo-btn dark sheet-nav-actions_button">
                        {% if 'availability' in [formated_object.centralResa.mode|default, formated_object.centralResa.subtype|default] %}
                            {{ 'SECTIONS.TOURISM.SHEET.TABS.AVAILABILITIES'|trans }}
                        {% else %}
                            {{'SECTIONS.PLANNING.MENU.ORDER'|trans}}
                        {% endif %}
                    </span>
                </li>
            {% endif %}

            {% if formated_object.openingPeriods|default and formated_object.openingPeriods.registrationEventpro|default %}
            {% elseif formated_object.sfExternalGrc|default %}
                {% if config.options.externalgrcAccordion|default %}
                    <li anchor-link ng-click="scrollTo('#external-grc');" onclick="document.querySelector('#external-grc-detail').open=true;" class="sheet-nav-actions_item nav-contact">
                        <span class="plo-btn sheet-nav-actions_button">
                            <div class="media media-center">
                                <span class="media-left media-middle"><span class="icon-font-mail plo-fonticon"></span></span>
                                <span class="media-body media-middle">{{ 'SECTIONS.TOURISM.SHEET.MAIL_CONTACT'|trans }}</span>
                            </div>
                        </a>
                    </li>
                {% else %}
                    <li class="sheet-nav-actions_item nav-contact">
                        <a data-toggle="rcModal" data-target="#external-grc"
                            data-id="{{object.metadata.id|default}}"
                            class="plo-btn sheet-nav-actions_button">

                            <div class="media media-center">
                                <span class="media-left media-middle"><span class="icon-font-mail plo-fonticon"></span></span>
                                <span class="media-body media-middle">{{ 'SECTIONS.TOURISM.SHEET.MAIL_CONTACT'|trans }}</span>
                            </div>
                        </a>
                    </li>
                {% endif %}
            {% elseif contractsLevels.sidebar.vcard and formated_object.emails.establishment|default and not formated_object.contactLabel|default %}
                <li class="sheet-nav-actions_item nav-contact" ng-if="sheet">
                    <a  rc-modal size="lg"
                        tpl-url="sections/tourism/sheet-detail/modals/contact-form.html"
                        action="click"
                        analytics-mediaveille {# Tracking MediaVeille #}
                        data-type="MAILTO" {# Tracking Tourinsoft #}
                        interact event-type="SHEET_CONTACT_FORM_OPENED"
                        check-params="form_contact"
                        {# window-class="contact-modal" #}
                        class="plo-btn sheet-nav-actions_button">

                        <div class="media media-center">
                            <span class="media-left media-middle"><span class="icon-font-mail plo-fonticon"></span></span>
                            <span class="media-body media-middle">{{ 'SECTIONS.TOURISM.SHEET.MAIL_CONTACT'|trans }}</span>
                        </div>
                    </a>
                </li>
            {% endif %}

            {% if contractsLevels.content.reviews and formated_object.dataFairguest|default and formated_object.dataFairguest.display and formated_object.dataFairguest.idGroup|default %}
                <li class="sheet-nav-actions_item plo-btn nav-reviews" anchor-link ng-click="scrollTo('#reviews')">
                    <span class="media-left"><span class="icon-font-avis4 [ plo-fonticon ]"></span></span>
                    <span class="media-body media-middle">{{ 'SECTIONS.TOURISM.SHEET.COMMENTS.SEE_ALL'|trans }}</span>
                </li>
            {% endif %}

            {% if formated_object.sfMenuUrl|default%}
                <li class="sheet-nav-actions_item nav-menuurl">
                    <a target="_blank" rel="nofollow" href="{{formated_object.sfMenuUrl}}"
                     class="plo-btn dark sheet-nav-actions_button">
                        {{'SECTIONS.TOURISM.SHEET.SEE_MENU'|trans}}
                    </a>
                </li>
            {% endif %}

            {% if formated_object.dataItinerary|default and formated_object.dataItinerary.issueReport|default %}
                <li class="sheet-nav-actions_item nav-booking">
                    <a target="_blank" rel="nofollow" href="{{formated_object.dataItinerary.issueReport}}"
                     class="plo-btn dark sheet-nav-actions_button">
                        {{'SECTIONS.TOURISM.SHEET.ITINERARY.ISSUE_REPORT'|trans}}
                    </a>
                </li>
            {% endif %}

        </ul>
    {% endif %}
{% endif %}
