<ul id="navlist" class="clearfix {{classes}}" {% if not directive %}dropdown-menu{% endif %}>

    {% if (contractsLevels.content.description and formated_object.description|default)
    or (contractsLevels.content.slogan and formated_object.slogan|default)
    or (formated_object.bordereau in ['RES'] and formated_object.chefName|default)
    or formated_object.goodDealsDescription|default
    or formated_object.accessPoints|default
    or contractsLevels.content.reviews and formated_object.dataFairguest|default and formated_object.dataFairguest.display and formated_object.dataFairguest.idGroup|default
    or (formated_object.environmentPoints|default and contractsLevels.content.environment)
    or (contractsLevels.content.capacities and formated_object.capacities|default and ( formated_object.capacities|length > 1 or not formated_object.capacities.groupCapacities|default))
    or (object.data.legalInformations|default and config.options.legalinfos is defined and config.options.legalinfos and contractsLevels.content.legalInfos)
    or (formated_object.langs|default and contractsLevels.content.lang)
    or (contractsLevels.content.labels and formated_object.labels.simpleLabels._labels|default)
    or (contractsLevels.content.handicap and formated_object.labels.tourismHandicap._labels|default)
    or (contractsLevels.content.docs and formated_object.documents|default)
    or (formated_object.audiofiles|default and contractsLevels.content.audios)
%}

        <li id="nav_description" class="" anchor-link ng-click="scrollTo('#description')">
            <a href="" role="button" class="media">
                <span class="media-middle"><span class="icon-font-home [ plo-fonticon ]"></span></span>
                 {% if contractsLevels.content.description and (formated_object.description|default or formated_object.slogan|default) %}
                    <span class="nav-title media-body media-right">{{ 'GLOBAL.DESCRIPTION'|trans }}</span>
                {% endif %}
            </a>
        </li>
    {% endif %}

    {# Booking #}
    {% if formated_object.centralResa|default and contractsLevels.content.booking %}
        <li id="nav_booking" class="" anchor-link ng-click="scrollTo('#booking')">
            <a href="" role="button" class="media">
                <span class="media-left"><span class="icon-font-ticket [ plo-fonticon ]"></span></span>
                <span class="nav-title media-body media-middle">
                    {% if 'availability' in [formated_object.centralResa.mode|default, formated_object.centralResa.subtype|default] %}
                        {{ 'SECTIONS.TOURISM.SHEET.TABS.AVAILABILITIES'|trans }}
                    {% else %}
                        {{'SECTIONS.PLANNING.MENU.ORDER'|trans}}
                    {% endif %}
                </span>
            </a>
        </li>
    {% endif %}

    {% if object.data.bordereau in ['ITI','PRD'] %}
        {# Download #}
        {% if contractsLevels.content.docs and formated_object.documents|default %}
            <li id="nav_download" anchor-link ng-click="scrollTo('#download')">
                <a href="" role="button" class="media">
                    <span class="media-left"><span class="icon-font-download [ plo-fonticon ]"></span></span>
                    <span class="nav-title media-body media-middle">{{ 'GLOBAL.DOWNLOAD'|trans }}</span>
                </a>
            </li>
        {% endif %}

        {# Steps #}
        {% if formated_object.dataItinerary.itinerary|default and formated_object.dataItinerary.itinerary.poiList|default %}
            <li id="nav_poi" anchor-link ng-click="scrollTo('#poi')">
                <a href="" role="button" class="media">
                    <span class="media-left"><span class="icon-font-pin-outline [ plo-fonticon ]"></span></span>
                    <span class="nav-title media-body media-middle">{{ 'SECTIONS.TOURISM.SHEET.ITINERARY.POINTS_OF_INTEREST'|trans }}</span>
                </a>
            </li>
        {% endif %}

        {# POIs #}
        {% if (tformated_object.dataItinerary.additionals|default and formated_object.dataItinerary.additionals.toStart|default)
            or (formated_object.medias|default and formated_object.medias.krpanos|default)
            or (formated_object.dataItinerary.additionals|default and formated_object.dataItinerary.additionals.steps|default) %}
            <li id="nav_steps" anchor-link ng-click="scrollTo('#steps')">
                <a href="" role="button" class="media">
                    <span class="media-left"><span class="icon-font-pin-outline [ plo-fonticon ]"></span></span>
                    <span class="nav-title media-body media-middle">{{ 'SECTIONS.TOURISM.SHEET.ITINERARY.STEPS'|trans }}</span>
                </a>
            </li>
        {% endif %}
    {% endif %}

    {# Profile #}
    {% if object.data.bordereau in ['ITI'] %}
        {% if formated_object.dataItinerary.itinerary.topographieMetrics._positiveElevation|default
            and formated_object.dataItinerary.itinerary.topographieMetrics._positiveElevation > 0 %}
        <li id="nav_profile" anchor-link ng-click="scrollTo('#profile')">
            <a href="" role="button" class="media">
                <span class="media-left"><span class="icon-font-analytics [ plo-fonticon ]"></span></span>
                <span class="nav-title media-body media-middle">{{ 'GLOBAL.DIFFERENCE_IN_HEIGHT'|trans }}</span>
            </a>
        </li>
        {% endif %}
    {% endif %}

    {# Establishment details / Services #}
    {% if contractsLevels.content.services and (formated_object.arrangementsDefault|default or formated_object.servicesOffers|default) %}
        <li id="nav_establishment-detail" anchor-link ng-click="scrollTo('#establishment-detail')">
            <a href="" role="button" class="media">
                <span class="media-left"><span class="icon-font-list [ plo-fonticon ]"></span></span>
                <span class="nav-title media-body media-middle">{{ 'SECTIONS.TOURISM.SHEET.SERVICES'|trans }}</span>
            </a>
        </li>
    {% endif %}

    {# Tariffs #}
    {% if (formated_object.tariffs|default or formated_object.tariffFree|default) and contractsLevels.content.tariffs
        and not (formated_object.centralResa|default and formated_object.centralResa.type|default != '99.20.02.02.04' and contractsLevels.content.booking
        and 'availability' not in [formated_object.centralResa.mode|default, formated_object.centralResa.subtype|default]) %}
        <li id="nav_tariffs" class="" anchor-link ng-click="scrollTo('#tariffs')">
            <a href="" role="button" class="media">
                <span class="media-left"><span class="icon-font-euro [ plo-fonticon ]"></span></span>
                <span class="nav-title media-body media-middle">{{ 'SECTIONS.TOURISM.SHEET.TARIFFS.TARIFFS'|trans }}</span>
            </a>
        </li>
    {% endif %}

    {# Openings #}
    {% if formated_object.centralResa|default and contractsLevels.content.booking %}
        {# do not show Openings in vabar if has Central #}
    {% elseif contractsLevels.content.periods and (formated_object.openingPeriods.periods|default or formated_object.openingPeriods.description|default) %}
        <li id="nav_openings" anchor-link ng-click="scrollTo('#openings')"
        {% if (formated_object.openingPeriods.hasHours|length == 1) and formated_object.bordereau in ['FMA'] and not formated_object.openingPeriods.hasHours and not formated_object.openingPeriods.hasInnerDescription and not formated_object.openingPeriods.description|default %}
            style="display: none;"
          {% endif %}>
            <a href="" role="button" class="media">
                <span class="media-left"><span class="icon-font-clock [ plo-fonticon ]"></span></span>
                <span class="nav-title media-body media-middle">
                    {% if formated_object.hasCentraleDispo|default or formated_object.hasTsAvailabilities|default %}
                        {{ 'SECTIONS.TOURISM.SHEET.TABS.AVAILABILITIES'|trans }}
                    {% elseif object.data.bordereau != 'FMA'%}
                        {{ 'SECTIONS.TOURISM.SHEET.OPENINGS_SM'|trans }}
                    {% else %}
                        {{ 'SECTIONS.TOURISM.SHEET.PERIODS.SCHEDULES'|trans }}
                    {% endif %}
                </span>
            </a>
        </li>
    {% endif %}

    {# {% if object.data.availabilitiesTs is defined %}
        <li id="nav_availabilities" class="" anchor-link ng-click="scrollTo('#availabilities')">
            <span class="media-left"><span class="icon-font-calendar [ plo-fonticon ]"></span></span>
            <span class="media-body media-middle">{{ 'SECTIONS.TOURISM.SHEET.TABS.AVAILABILITIES'|trans }}</span>
        </li>
    {% endif %} #}

    {# Linked sheets #}
    {% if formated_object.linkedSheets|default and formated_object.externalSheets|default %}
        <li id="nav_linked-sheets-1" anchor-link ng-click="scrollTo('#linked-sheets-1')">
            <a href="" role="button" class="media">
                <span class="media-left"><span class="icon-font-arrow5 [ plo-fonticon ]"></span></span>
                <span class="nav-title media-body media-middle">
                    {% if formated_object.linkedSheets[0].label|default %}
                        {{ formated_object.linkedSheets[0].label }}
                    {% else %}
                        {{ 'SECTIONS.TOURISM.SHEET.SERVICE_PROVIDER'|trans }}
                    {% endif %}
                </span>
            </a>
        </li>
    {% endif %}

    {% if contractsLevels.sidebar.vcard and formated_object.emails.establishment|default %}
        <li id="nav_contact-form" class="visible-xs-block visible-sm-block">
            <a role="button" class="media"
                rc-modal size="lg"
                tpl-url="sections/tourism/sheet-detail/modals/contact-form.html"
                action="click"
                analytics-mediaveille {# Tracking MediaVeille #}
                data-type="MAILTO" {# Tracking Tourinsoft #}
                interact event-type="SHEET_CONTACT_FORM_OPENED"
                check-params="form_contact">

                <span class="media-left"><span class="icon-font-mail [ plo-fonticon ]"></span></span>
                <span class="nav-title media-body media-middle">{{ 'SECTIONS.TOURISM.SHEET.MAIL_CONTACT'|trans }}</span>
            </a>
        </li>

        {# <li class="sheet-nav-actions_item nav-contact">
            <a rc-modal size="lg"
                tpl-url="sections/tourism/sheet-detail/modals/contact-form.html"
                action="click"
                analytics-mediaveille
                data-type="MAILTO"
                interact event-type="SHEET_CONTACT_FORM_OPENED"
                check-params="form_contact"
                class="plo-btn sheet-nav-actions_button">

                <div class="media media-center">
                    <span class="media-left media-middle"><span class="icon-font-mail plo-fonticon"></span></span>
                    <span class="media-body media-middle">{{ 'SECTIONS.TOURISM.SHEET.MAIL_CONTACT'|trans }}</span>
                </div>
            </a>
        </li> #}
    {% endif %}

    {# Medias #}
    {% if contractsLevels.content.medias %}
        {% if config.options.sheet_model_v2 is not defined or config.options.sheet_model_v2 %}
            {% if formated_object.sortedGallery|default %}
                <li id="nav_gallery" anchor-link ng-click="scrollTo('#gallery')">
                    <a href="" role="button" class="media">
                        <span class="media-left"><span class="icon-font-image [ plo-fonticon ]"></span></span>
                        <span class="nav-title media-body media-middle">{{ 'SECTIONS.TOURISM.SHEET.GALERY'|trans }}</span>
                    </a>
                </li>
            {% endif %}
        {% else %}
            {% if formated_object.gallery|length > 1 %}
                <li id="nav_gallery" anchor-link ng-click="scrollTo('#gallery')">
                    <a href="" role="button" class="media">
                        <span class="media-left"><span class="icon-font-image [ plo-fonticon ]"></span></span>
                        <span class="nav-title media-body media-middle">{{ 'SECTIONS.TOURISM.SHEET.TABS.PHOTOS'|trans }}</span>
                    </a>
                </li>
            {% endif %}
        {% endif %}

    {% endif %}

    {% if (config.options.sheet_model_v2 is not defined or config.options.sheet_model_v2) and formated_object.panoramas|default %}
        <li id="nav_panorama" anchor-link ng-click="scrollTo('#panorama')">
            <a href="" role="button" class="media">
                <span class="media-left"><span class="icon-font-panoramic [ plo-fonticon ]"></span></span>
                <span class="nav-title media-body media-middle">{{ 'SECTIONS.TOURISM.SHEET.PANORAMA'|trans }}</span>
            </a>
        </li>
    {% endif %}

    {# Reviews #}
    {% if contractsLevels.content.reviews and formated_object.dataFairguest|default and formated_object.dataFairguest.display and formated_object.dataFairguest.idGroup|default %}
        <li id="nav_reviews" anchor-link ng-click="scrollTo('#reviews')">
            <a href="" role="button" class="media">
                <span class="media-left"><span class="icon-font-avis4 [ plo-fonticon ]"></span></span>
                <span class="nav-title media-body media-middle">{{ 'SECTIONS.TOURISM.SHEET.TABS.COMMENTS'|trans }}</span>
            </a>
        </li>
    {% endif %}

    {# Map #}
    {% if contractsLevels.content.maps and formated_object.geolocations|default %}
    {% if not formated_object.dataItinerary.itineraryLayout|default %}
        <li id="nav_map" class="hidden-xs" anchor-link ng-click="scrollTo('#hww_map')">
            <a href="" role="button" class="media">
                <span class="media-left"><span class="icon-font-pin-outline [ plo-fonticon ]"></span></span>
                <span class="nav-title media-body media-middle">{{ 'SECTIONS.TOURISM.SHEETLIST.MAP'|trans }}</span>
            </a>
        </li>
    {% endif %}
    {% endif %}
</ul>

{# ORDER BTN #}
{% if contractsLevels.sidebar.booking and formated_object.bookingUrl|default %}
    {% if config.options.warningExternalLink is defined and config.options.warningExternalLink %}
        <div class="pull-right nav-title sheet-navbar-button navbar-booking-btn visible-xs-block visible-sm-block" data-open="warningExternalLink_modal">
            <div>{{'SECTIONS.PLANNING.MENU.ORDER'|trans}}</div>
        </div>
    {% else %}
        <div class="pull-right nav-title sheet-navbar-button navbar-booking-btn visible-xs-block visible-sm-block">
            <a target="_blank" rel="nofollow"
                href="{{formated_object.bookingUrl}}"
                analytics-mediaveille {# Tracking MediaVeille #}
                data-fs-tracking="RESERVATION" {# Tracking Tourinsoft #}
                interact event-type="SHEET_BOOK_URL">
                {{'SECTIONS.PLANNING.MENU.ORDER'|trans}}
            </a>
        </div>
    {% endif %}
{% endif %}

<div>
{# Wishlist button #}
{% if tpl_wishlist and (config.options.planner or config.options.wishlist) %}
    <div id="nav_add"
        class="pull-right nav-title sheet-navbar-button show-when-angular-ready"
        rc-sheet-state
        ng-class="{'favorited': isFav(sheet.metadata.id)}"
        ng-click="toggleFav(sheet)">

        <a class="media _plu-flush" href="" role="button" >
            <div class="wicon" ng-if="!isFav(sheet.metadata.id)"> {# heart #}
                <svg viewBox="0 0 140 140" xmlns="http://www.w3.org/2000/svg">
                    <path d="M118.247347,69.6445969 C120.873078,64.633108 122.488032,59.1524305 123,53.5155022 L123,51.7692419 C122.947608,35.8871118 110.079891,23.042361 94.2306083,23.0511983 C84.4118063,23.0831242 75.2841545,28.120045 70.0079211,36.4180268 C63.1801617,25.5817565 50.0250751,20.5746489 37.7399235,24.1361361 C25.4547718,27.6976233 16.9994753,38.9696193 17,51.785117 L17,53.4996271 C18.710955,82.3764217 62.9423106,117 69.9762367,117 C74.1902556,117 85.0896727,108.363949 91.1730683,102.998168 C100.376723,107.573682 111.515448,105.152804 118.000465,97.1675306 C124.485481,89.1822575 124.587987,77.7613374 118.247347,69.660472 L118.247347,69.6445969 Z M109.613361,85.6943162 L103.276491,85.6943162 L103.276491,92.0443534 C103.276491,93.3857919 102.191295,94.4732427 100.852638,94.4732427 C99.5139809,94.4732427 98.4287849,93.3857919 98.4287849,92.0443534 L98.4287849,85.6943162 L92.0919145,85.6943162 C90.7532575,85.6943162 89.6680616,84.6068654 89.6680616,83.2654269 C89.6680616,81.9239884 90.7532575,80.8365376 92.0919145,80.8365376 L98.4287849,80.8365376 L98.4287849,74.4865003 C98.4287849,73.1450618 99.5139809,72.0576111 100.852638,72.0576111 C102.191295,72.0576111 103.276491,73.1450618 103.276491,74.4865003 L103.276491,80.8365376 L109.613361,80.8365376 C110.952018,80.8365376 112.037214,81.9239884 112.037214,83.2654269 C112.037214,84.6068654 110.952018,85.6943162 109.613361,85.6943162 L109.613361,85.6943162 Z M114.571962,66.0250756 C105.206455,58.8666949 91.872717,60.3887547 84.3538124,69.4745084 C76.8349079,78.5602621 77.8097082,91.9725937 86.5629951,99.8707744 L86.9907338,100.235902 C77.4854282,108.49095 71.0535047,112.094596 69.9762367,112.173972 C65.0017935,111.935845 23.4319235,79.7887815 21.8477059,53.2138754 L21.8477059,51.7374917 C21.8301061,38.5556512 32.4565922,27.8431938 45.61097,27.7819761 C55.2542305,27.7604458 63.9543128,33.5809149 67.6315947,42.5140626 C67.8769948,43.1101504 68.3488603,43.5839905 68.9431954,43.8311521 C69.5375305,44.0783136 70.2055509,44.0785091 70.8000299,43.8316953 C71.389082,43.5752701 71.859037,43.1043386 72.1149305,42.5140626 C76.4451058,31.8969004 87.6894121,25.8571847 98.9100088,28.1214758 C110.130606,30.3857669 118.165564,40.3159946 118.057241,51.785117 L118.057241,53.1821252 C117.689075,57.6350376 116.524618,61.9852833 114.619489,66.0250756 L114.571962,66.0250756 Z"></path>
                </svg>
            </div>
            <div class="wicon" ng-if="isFav(sheet.metadata.id)"> {# fav heart #}
                <svg viewBox="0 0 140 140" xmlns="http://www.w3.org/2000/svg">
                    <path d="M109.616147,85.3838527 L92.3838527,85.3838527 C91.0672872,85.3838527 90,84.3165655 90,83 C90,81.6834345 91.0672872,80.6161473 92.3838527,80.6161473 L109.616147,80.6161473 C110.932713,80.6161473 112,81.6834345 112,83 C112,84.3165655 110.932713,85.3838527 109.616147,85.3838527 Z M118.292184,69.1483778 L118.292184,69.164084 C124.573006,77.17877 124.471467,88.4781909 118.04763,96.3785143 C111.623793,104.278838 100.590151,106.673962 91.4733224,102.147123 C85.4473173,107.455822 74.6507249,116 70.4764609,116 C63.5088925,116 19.6948139,81.7447576 18,53.175163 L18,51.4788924 C17.9994802,38.7997297 26.3750098,27.6476486 38.5442638,24.1240496 C50.7135178,20.6004505 63.7444998,25.554291 70.5078464,36.2752818 C75.734304,28.0655765 84.7758459,23.0822399 94.5020176,23.0506536 C110.201779,23.0419103 122.948102,35.7500149 123,51.4631862 L123,53.1908692 C122.492862,58.7678302 120.893143,64.1902026 118.292184,69.1483778 Z M101.171424,65.5673621 L101.171424,65.6301869 C91.7974777,65.6388459 84.2005511,73.2423019 84.1918996,82.6243053 C84.2265367,92.0016414 91.843798,99.5786373 101.213117,99.5555474 C110.582436,99.5324574 118.162323,91.9180093 118.15082,82.5406163 C118.139317,73.1632232 110.540772,65.5674262 101.171424,65.5673621 Z"></path>
                </svg>
            </div>

            {% if formated_object.wishlistConfig.translation|default %}
                <span class="media-body media-middle" ng-if="isFav(sheet.metadata.id)">{{ ('SECTIONS.WISHLIST.'~formated_object.wishlistConfig.translation|upper~'.IN')|trans }}</span>
                <span class="media-body media-middle" ng-if="!isFav(sheet.metadata.id)">{{ ('SECTIONS.WISHLIST.'~formated_object.wishlistConfig.translation|upper~'.ADD')|trans }}</span>
            {% else %}
                <span class="media-body media-middle" ng-if="isFav(sheet.metadata.id)">{{ 'SECTIONS.WISHLIST.IN'|trans }}</span>
                <span class="media-body media-middle" ng-if="!isFav(sheet.metadata.id)">{{ 'SECTIONS.WISHLIST.ADD'|trans }}</span>
            {% endif %}
        </a>
    </div>
{% endif %}

{% if object.data.bordereau in ['ITI','PRD'] and (config.site_key in ['demo','superot'] or app.env in ['dev','preprod']) %}
    <div id="iti-print-btn" class="pull-right nav-title sheet-navbar-button show-when-angular-ready">
        <a class="media _plu-flush" role="button">
            <span class="media-left media-middle"><span class="icon icon-font-printer"></span></span>
            <span class="media-body media-middle">{{ 'GLOBAL.PRINT'|trans }}</span>
        </a>
    </div>
{% endif %}
</div>
