{% set random_number = ''|random_number %}
{% if page_teaser_add_media or page_teaser_add_profile or trip_infos and customWidth is not defined %}
    {% set customWidth = 'large-6' %}
{% else %}
    {% set customWidth = 'large-10' %}
{% endif %}

<div class="woody-component woody-component-teaser flex-container flex-dir-column align-bottom {{ customIndexClass|default('tpl_07') }} {{ classes|default }}{{ background_img ? ' has-bgimg' }}{{ page_teaser_add_media ? ' has-media' }}{{ page_teaser_add_profile and profile.profile_title ? ' has-profile' }}">
    {% include 'blocks/page_teaser/_objects/backgroundImage.twig' with {
        'img_mobile_url' : background_img.sizes.ratio_4_3_small,
        'image_style' : page_teaser_img_ratio|default('ratio_3_1'),
        'containerClass' : "backgroundMedia teaserMediaWrapper"
    }%}
    {% if page_teaser_add_media and page_teaser_media_type == 'map' %}
        <div class="geo-map-corner isAbs">
            {% include 'blocks/page_teaser/_objects/map.twig' %}
        </div>
    {% endif %}
    <div class="grid-container flex-container flex-dir-column full-height full-width">
        {{ breadcrumb|default }}
        {% if page_teaser_title|default or page_teaser_desc|default or page_teaser_display_favs_btn|default or page_teaser_buttons %}
        <div class="grid-x {{ customAlignment|default('grid-padding-x grid-padding-y align-justify align-bottom') }}">
            <div class="cell texts-wrapper flex-container flex-dir-column {{ page_teaser_woody_icon ? 'has-icon ' }}{{ page_teaser_title ? 'has-title ' }}{{ page_teaser_pretitle ? 'has-pretitle ' }}{{ page_teaser_subtitle ? 'has-subtitle ' }}{{ page_teaser_desc ? 'has-desc ' }}{{ created ? 'has-created' }} {{ customWidth|default }} {{ customTextAlignment|default('align-center') }} {{ customGridSize|default }}">
                {% include 'blocks/page_teaser/_objects/texts.twig' %}
                {% include 'blocks/page_teaser/_objects/links.twig' %}
                {% include 'blocks/page_teaser/_objects/share.twig' %}
            </div>
            {% include 'blocks/page_teaser/_objects/tripInfos.twig' with {
                'customTripAlignment' : 'medium-12 large-3 flex-container flex-dir-column woody-component-trip-infos-card'
            }%}
            {% include 'blocks/page_teaser/_objects/profil.twig' with {
                'customProfilWidth' : 'large-3'
            }%}
            {% if page_teaser_media_type != 'map' %}
                {% include 'blocks/page_teaser/_objects/media.twig'  with {
                    'media_wrapper_classes' : 'medium-6 large-6',
                } %}
            {% endif %}
        </div>

    {% endif %}
    </div>
<div>
