<div class="woody-component woody-component-hero {{ classes|default }} {% block index_class %}tpl_15 hero-full-height hero-blog-header{% endblock %} isRel {{ page_heading_background_img_opacity|default }} {% if page_heading_img or page_heading_movie.movie_poster_file|default %} bg-black has-bgimg{% endif %}{% if parallax %} parallax-hero{% endif %}{% if blur %} hero-blur{% endif %}">
    {% block heroText %}
        <div class="titles-container flex-container flex-dir-column align-center isRel">
            {% if parallax %}<div class="rellax" data-rellax-speed="2">{% endif %}
            {% include '_objects/titlesObject.twig' with {
                'titles' : _context,
                'contextPrefix' : "hero",
                'flexOptions' : "flex-container flex-dir-column align-middle text-center marg-bottom-md",
                'no_desc' : true
            } %}
            {% if parallax %}</div>{% endif %}

            {% block tagsList %}
                {% if page_heading_tags %}
                    <ul class="list-unstyled flex-container align-middle align-right tagslist isAbs">
                        {% for tag in page_heading_tags %}
                            <li class="tagslist-item">{{ tag.label }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endblock %}
        </div>
    {% endblock %}

    {% if page_heading_img or page_heading_movie.movie_poster_file|default %}
        <div class="hero-bg backgroundMedia {{ page_heading_media_type|default }}">
            {% if parallax %}<div class="rellax" data-rellax-speed="-4">{% endif %}

            {% if page_heading_media_type == 'img' and page_heading_img.filename|default %}
                {% block backgroundimage %}
                    <div class="backgroundMedia" style="background-image: url('{{ page_heading_img.sizes.ratio_3_1 }}'); background-size:cover; background-position:center center;"></div>
                {% endblock %}
            {% elseif page_heading_media_type == 'movie'|default %}
                {% block heroVideo %}
                    {% include '_objects/videoObject.twig' with {
                    'movie' : page_heading_movie,
                    'image_style' : "ratio_3_1",
                    'containerClass' : "heroMediaWrapper",
                    'ratio' : "3",
                    'autoplay': true,
                    'loop': true,
                    'muted' : true,
                    'playsinline' : true
                } %}
                {% endblock %}
            {% endif %}

            {% if parallax %}</div>{% endif %}
        </div>
    {% endif %}

    {% if page_heading_add_social_movie and page_heading_social_movie|default %}
        <div class="toggling-movie-container{{ page_heading_social_movie ? ' embed-plyr' }}">
            <div class="movie-toggle">
                <span class="toggle-icon"></span>
                <span class="toggle-text">{{ __("Voir la vidéo", 'woody-theme') }}</span>
            </div>
            <div class="hidden toggling-movie">
                <div class="heroPlyr-wrapper">
                    {{ page_heading_social_movie }}
                </div>
            </div>
        </div>
    {% endif %}
</div>
