{% if title %}
<div class="text-center marg-bottom-sm title-wrapper">
    <span class="title h6">{{ __('Pistes','woody-theme') }}</span>
</div>
{% endif %}
<div class="slopes-wrapper {% if slopes.settings.type != "all" %}single-area{% endif %} ">

    {% for slopeType ,slope in slopes[1:] if slopes.settings.type == slopeType or slopes.settings.type == "all"  %}
    <div class="flex-container flex-dir-column align-center align-middle marg-top-sm {{ "slopes-" ~ slopeType }}">
        {% if slopeType == "alpine" and title_type %}
        <span class="title-area">{{ __('Domaine Alpin','woody-theme') }}</span>
        {% endif %}
        {% if slopeType == "nordic" and title_type %}
        <span class="title-area">{{ __('Domaine Nordique','woody-theme') }}</span>
        {% endif %}
        <div class="flex-container flex-dir-column align-center align-middle padd-all-sm {{ slopeType ~ "-levels" }}">
            {% if (slopeType == "alpine" and "global" in slopes.settings.display.alpine) or (slopeType == "nordic" and "global" in slopes.settings.display.nordic) %}
            <div class="level-global">
                {% include "blocks/infolive/_objects/slopes_level.twig" with {
                    'global' : true,
                    'type' : slopeType,
                    'level' : slope.global,
                    'color' : slopes.settings.colors.global,
                } %}
            </div>
            {% endif %}
            {% if (slopeType == "alpine" and "detail" in slopes.settings.display.alpine) or (slopeType == "nordic" and "detail" in slopes.settings.display.nordic) %}
            <div class="flex-container align-center align-middle level-colors">
                {% for levelColor, levelData in slope.levels %}
                {% for colorName, colorHex in slopes.settings.colors %}
                {% if levelColor == colorName %}
                {% include "blocks/infolive/_objects/slopes_level.twig" with {
                    'type' : slopeType,
                    'level' : levelData,
                    'color' : colorHex
                } %}
                {% endif %}
                {% endfor %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
        {% if slopeType == "alpine" and lifts %}
        <div class="flex-container flex-dir-column align-center align-middle marg-top-sm">
            {% include "blocks/infolive/_objects/lifts.twig" %}
        </div>
        {% endif %}
        {% if (slopes.settings.links.alpine is not empty or slopes.settings.links.nordic is not empty) and link %}
        <a class="woody-component-button button primary" href="{{ slopeType == "alpine" ? slopes.settings.links.alpine : slopes.settings.links.nordic }}" title="{{ __('Voir le bulletin complet', 'woody-theme') }}">
            <span class="button-label">{{ __('Détails', 'woody-theme') }}</span>
        </a>
        {% endif %}
    </div>
    {% endfor %}
</div>
