{% if title %}
<div class="text-center marg-bottom-sm title-wrapper">
    <span class="title h6"> {{ __('Webcams','woody-theme') }}</span>
</div>
{% endif %}

{% if webcam.media is not empty %}
<div class="media-wrapper marg-bottom-sm">
    <a href="{{ webcam.link }}" title="{{ __('Voir les webcams', 'woody-theme') }}">
        <img src="{{ webcam.media.url }}" alt="{{ webcam.media.title }}" />
    </a>
</div>
{% endif %}
{% if webcam.link is not empty and link %}
<a class="woody-component-button button primary" href="{{ webcam.link }}" title="{{ __('Voir les webcams', 'woody-theme') }}">
    <span class="button-label">{{ __('Voir les webcams', 'woody-theme') }}</span>
</a>
{% endif %}
