{% extends '_objects/visualModifier.twig' %}
{% if no_padding == 0 %}{% set spaceBetween = 30 %}
{% else %}{% set spaceBetween = 0 %}
{% endif %}
{% block content %}
<div class="woody-component woody-component-interactive_gallery isRel {% block index_class %}tpl_101{% endblock %} {{ background_color|default }} {{ border_color|default }} {{ background_img_opacity|default }}{% if background_img_opacity or background_color|default or border_color|default %} padd-all-md{% endif %}{{ background_img ? ' has-bgimg' }}">
    {% if background_img %}
    <div class="backgroundMedia fullcenterbox" style="background-image: url('{{ background_img.url }}'); background-size:cover; background-position:center center;"></div>
    <div class="content isRel">
        {% endif %}
        {% if icon|default or pretitle|default or title|default or subtitle|default or description|default %}
        <div class="block-header marg-bottom-md">
            {% include '_objects/titlesObject.twig' with {
                    'titles' : _context,
                    'contextPrefix' : "gallery",
                    'flexOptions' : "flex-container flex-dir-column align-center align-middle text-center"
                } %}
        </div>
        {% endif %}
        <div class="interactive_gallery-wrapper">
            <div class="swiper-container woody-swiper">
                <div class="swiper-wrapper">
                    {% for item in interactive_gallery_items %}
                    <div class="swiper-slide slide-{{ loop.index }} ">
                        {% block interactive_gallery_grid %}
                        <div class="woodyGallery grid-x{{ interactive_gallery_no_padding == 0 ? ' grid-padding-x grid-padding-y' }}" itemscope="itemscope" itemtype="http://schema.org/ImageGallery">
                            {% if item.interactive_gallery_photo |default %}
                            <div class="cell">
                                {% include 'cards/media_card/tpl_01/tpl.twig' with {
                                                         'item' : item.interactive_gallery_photo,
                                                        'image_style' : "ratio_16_9"
                                                    } %}
                            </div>
                            {% endif %}
                        </div>
                        {% endblock %}
                        <div class="interactive_gallery-text">
                            {% if item.interactive_gallery_text|default %}
                            <span class="tooltip tooltip-effect {{ interactive_gallery_open == 1 ? ' is-open' }} ">
                                <span class="tooltip-item wicon wicon-029-croix-fermer"></span>
                                <span class="tooltip-content clearfix">
                                    <span class="tooltip-text">
                                        {{ item.interactive_gallery_text }}
                                    </span>
                                </span>
                            </span>

                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% if interactive_gallery_items|length > 1 %}
                {% block interactive_gallery_items_pagination %}
                <div class="swiper-pagination"></div>
                {% endblock %}
                {% block interactive_gallery_items_navigation %}
                <div class="swiper-navigation">
                    <div class="swiper-button-prev">
                        <i aria-hidden="true" class="wicon wicon-026-precedent"></i>
                    </div>
                    <div class="swiper-button-next">
                        <i aria-hidden="true" class="wicon wicon-025-suivant"></i>
                    </div>
                </div>
                {% endblock %}
                {% endif %}
            </div>
        </div>
        {% if interactive_gallery_buttons|default %}
        <div class="interactive_gallery-footer">
            {% if interactive_gallery_buttons.alignement == 'horizontal' %}
            {% set list_classes = 'align-center align-middle wrap' %}
            {% elseif interactive_gallery_buttons.alignement == 'vertical' %}
            {% set list_classes = 'flex-dir-column align-center align-middle' %}
            {% endif %}
            <ul class="list-unstyled flex-container {{ list_classes|default }}">
                {% for button in interactive_gallery_buttons.links %}
                <li class="list-item">
                    {% include '_objects/buttonObject.twig' %}
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% if background_img %}
    </div>
    {% endif %}
</div>
{% endblock %}
