{% extends '_objects/visualModifier.twig' %}
{% block content %}
    <!-- TODO: cette grille ne fonctionne pas au delà de 5 éléments ... -->
    {% if is_list %}
        <li class="grid-container">
        {% endif %}
        {% if menu_part_title|default %}
            <span class="menuPart-title">{{ menu_part_title }}</span>
        {% endif %}
        {% if empty|default %}
            <div class="bg-lightgray padd-all-sm flex-container">
                <span class="h5 align-center align-middle">{{ empty }}</span>
            </div>
        {% endif %}
        <div class="{% block grid_class %}woody_bases_grid tpl_501{% endblock %} align-stretch grid-x{{ swResp ? ' swRespW' }}{{ no_padding == 0 ? ' grid-padding-x grid-padding-y' }}">
            {% if items|default %}
                {% for item in items[: 2] %}
                    <div class="cell medium-6{{ swResp ? ' swRespS' }}">
                        {% block the_card %}
                            {% include "cards/#{card}/tpl.twig" with {
                                'desequalize' : desequalize,
                                'image_style' : image_style,
                                'page_type' : item.page_type
                        } %}
                        {% endblock %}
                    </div>
                {% endfor %}
                {% for item in items[2 : 3] %}
                    <div class="cell medium-4{{ swResp ? ' swRespS' }}">
                        {{ block(the_card) }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        {% if is_list %}
        </li>
    {% endif %}
{% endblock %}
