<div class="woody-component woody-component-bookblock {% block index_class %}tpl_01 {% endblock %}{{ classes|default }}{{ background_img ? ' has-bgimg' }}">
    {% if background_img %}
        <div class="backgroundMedia fullcenterbox" style="background-image: url('{{ background_img.url }}'); background-size:cover; background-position:center center;"></div>
    {% endif %}
    {% block form_tabs %}{% endblock %}
    <div class="block-content grid-container isRel">
        {% if bookblock_title|default %}
            {% block title %}
                <div class="bookblock-title text-center marg-bottom-md">
                    <span>
                        {{ bookblock_title }}
                    </span>
                </div>
            {% endblock %}
        {% endif %}
        {% block form_content %}
            <form class="bookblock-form flex-container align-middle wrap">
                <label class="hide" for="bookblock-pl-select">{{ __('Que voulez-vous réserver ?', 'woody-theme') }}</label>
                <select class="form-item pl-select {% block select_classes %} marg-right-md{% endblock %}" id="bookblock-pl-select">
                    {% for pl in bookblock_playlists %}
                        {% if pl.pl_label|default %}
                            <option value="{{ pl.pl_post_id }}" data-facet="{{ pl.filters.id }}" data-permalink="{{ pl.permalink }}" {{ pl.filters.daterange ? ' data-daterange' }} {{ pl.filters.adults ? ' data-adults' }} {{ pl.filters.children ? ' data-children' }}>
                                {{ pl.pl_label }}
                            </option>
                        {% endif %}
                    {% endfor %}
                </select>
                <div class="form-item dates-input isRel marg-right-md">
                    <label class="hide" for="bookblock-daterange-input">{{ __('Choisissez vos dates de réservation', 'woody-theme') }}</label>
                    <input type="text" name="daterange" value="" class="daterange-input" id="bookblock-daterange-input" placeholder="{{ __('Choisissez vos dates', 'woody-theme') }}"/>
                    <span class="wicon wicon-018-agenda isAbs"></span>
                </div>
                <div class="form-item item-counter adults-input flex-container align-middle marg-right-md" data-min="0" data-value="1">
                    <button class="item-counter-button circle decre" data-target="adults-value" disabled="true" name="item-counter-decre" type="button">-</button>
                    <input class="item-counter-value" data-value-type="adults-value" id="bookblock-adults-value" min="1" type="number" value="1">
                        <label class="label" for="bookblock-children-value">
                            {{ __('adulte(s)', 'woody-theme') }}
                        </label>
                        <button class="item-counter-button circle incre" data-target="adults-value" name="item-counter-incre" type="button">+</button>
                    </div>
                    <div class="form-item item-counter children-input flex-container align-middle marg-right-md" data-min="0" data-value="0">
                        <button class="item-counter-button circle decre" data-target="adults-value" disabled="true" name="" type="button">-</button>
                        <input class="item-counter-value" data-value-type="children-value" id="bookblock-children-value" min="0" type="number" value="0">
                            <label class="label" for="bookblock-children-value">
                                {{ __('enfant(s)', 'woody-theme') }}
                            </label>
                            <button class="item-counter-button circle incre" data-target="adults-value" name="" type="button">+</button>
                        </div>
                        <a class="form-item form-submit button disabled top" data-tooltip href="" tabindex="1">
                            {{ __('Rechercher', 'woody-theme') }}
                        </a>
                    </form>
                {% endblock %}
            </div>
        </div>
