<div class="woody-component woody-component-teaser {{ customIndexClass|default('tpl_01') }} trip-info-banner {{ classes|default }}{{ background_img ? ' has-bgimg' }}{{ page_teaser_add_media ? ' has-media' }} {{ customClasses|default }}">
    {% include 'blocks/page_teaser/_objects/backgroundImage.twig' %}
    {{ breadcrumb|default }}
    <div class="grid-container isRel">
        <div class="grid-x {{ customAlignment|default }}">
            <div class="cell texts-wrapper {{ page_teaser_woody_icon ? 'has-icon ' }}{{ page_teaser_title ? 'has-title ' }}{{ page_teaser_pretitle ? 'has-pretitle ' }}{{ page_teaser_subtitle ? 'has-subtitle ' }}{{ page_teaser_desc ? 'has-desc ' }}{{ created ? 'has-created' }} {{ customWidth|default }} {{ customTextAlignment|default }} {{ customGridSize|default }}">
                {% include 'blocks/page_teaser/_objects/texts.twig' %}
                {% include 'blocks/page_teaser/_objects/links.twig' %}
                {% include 'blocks/page_teaser/_objects/share.twig' %}
                {% include 'blocks/page_teaser/_objects/tripInfos.twig' %}
            </div>
                {% include 'blocks/page_teaser/_objects/profil.twig' %}
                {% include 'blocks/page_teaser/_objects/media.twig' %}
        </div>
    </div>
</div>
